/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}


/*header*/

.header {
    height: 4rem;
    box-shadow: 0 6px 7px 0 rgba(188, 188, 188, .4);
}


/*list-wrap*/

.list-wrap {
    top: 0;
    right: .714rem;
    bottom: 5rem;
    left: .714rem;
    overflow-y: auto;
    padding-top: 1rem;
}

.list-row,
.list-note {
    line-height: 20px;
    position: relative;
    margin-top: .714rem;
    padding: 1rem 3.143rem 1rem 1rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(233, 233, 233, .75);
}

.list-con {
    display: block;
}

.list-con > span {
    font-size: 1rem;
    display: inline-block;
    float: left;
}

.row-5 {
    width: 50%;
}

.row-2 {
    width: 20%;
}

.row-1 {
    width: 10%;
}

.list-con .name {
    font-size: 1.143rem;
    position: relative;
    text-align: left;
}

.name .i {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.name > span {
    display: block;
    padding-left: 30px;
}

.del-man {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.143rem;
    height: 100%;
    border-left: 1px dashed #dadada;
    background: transparent;
}


/*提示信息*/

.list-note {
    font-size: .857rem;
    padding: .714rem 0;
}
