/*head-info*/

.head-info {
    padding-top: 5rem;
    box-shadow: 0 2px 8px 0 rgba(95, 193, 253, .75);
}

.sured {
    opacity: 0;
}

.sured-live {
    opacity: 1;
}

.h-wraper {
    width: 6.857rem;
    height: 6.857rem;
    padding: .286rem;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 2px 12px 0 rgba(60, 177, 253, .75);
}

.h-name {
    font-size: 1.143rem;
    margin-top: .8rem;
}

.head-val {
    top: 30px;
    margin: 0 .714rem;
    padding: .8rem 0;
    border-radius: 6px;
    box-shadow: 0 1px 8px 0 rgba(228, 228, 228, .75);
}

.head-val::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    content: '';
    border-left: 1px dashed #c5c5c5;
}

.head-val > li {
    display: inline-block;
    width: 50%;
}

.head-val p {
    font-size: 1rem;
    margin-top: .4rem;
    color: #999;
}


/*content*/

.content {
    margin: 46px 0;
    box-shadow: 0 2px 4px 0 rgba(233, 233, 233, .75);
}

.c-list {
    position: relative;
    display: block;
}

.c-list .i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 10px;
}

.c-list > div {
    position: relative;
    margin-left: 40px;
    border-bottom: 1px solid #ececec;
}

.c-list span {
    line-height: 1rem;
    display: block;
    padding: 2rem 50px 2rem 0;
}

.c-list > div .i {
    right: 0;
    left: auto;
}

.c-list:last-child div {
    border-bottom: none;
}
