/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}


/*body*/

.body-bg {
    background-image: -moz-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -webkit-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -ms-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
}


/*logo*/

.logo {
    height: 13.5%;
    margin: 20% 0 15% 0;
}


/*con-wrap*/

.con-wrap {
    padding: 0 2rem;
}

.item-list {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 4px 16px 0 rgba(195, 255, 254, .4);
}

.item-each > .i {
    top: 0;
    bottom: 0;
    margin: auto 10px;
}

.item-con {
    overflow: hidden;
    margin-left: 40px;
    border-bottom: 1px solid #eee;
}

.item-each:last-child .item-con {
    border-bottom: none;
}

.item-tag {
    font-size: 1.143rem;
    line-height: 1.4rem;
    top: 0;
    bottom: 0;
    width: 4.8rem;
    height: 1.4rem;
    margin: auto;
    color: #666;
}

.item-ipt-wrap {
    margin: 1.5rem 0 1.5rem 4.8rem;
}

.item-ipt-wrap input {
    line-height: 1.143rem;
    position: relative;
    width: 100%;
    padding-right: 10px;
    color: #333;
    background-color: transparent;
}

.item-ipt-wrap .tel-ipt {
    padding-right: 7em;
}

.item-ipt-wrap .pass-ipt {
    padding-right: 2.6em;
}

.code-btn {
    font-size: .857rem;
    line-height: 2.3rem;
    width: 6rem;
    height: 2.3rem;
    color: #fff;
    border-radius: 4px;
    background-color: #43b0f9;
}

.code-btn-useless {
    background-color: #ccc;
}

.ipt-btn {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
}


/*默认省市区*/

.addr-fixed {
    margin: 1.8rem 0 1rem 0;
}

.addr-f-con {
    display: block;
    margin-left: 40px;
    padding: 1rem 0;
    color: #333;
}


/*addr-user*/

.addr-user {
    height: 3rem;
    margin-bottom: 2rem;
}

.each-addr {
    font-size: 1rem;
    display: inline-block;
    width: 32%;
    height: 3rem;
    padding: 0 26px 0 4px;
    color: #999;
    border: none;
    border-radius: 6px;
    background: url(../img/down.png) no-repeat 94% 50%/12px auto rgba(255, 255, 255, .6);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    direction: rtl;
}

.each-addr:nth-child(2) {
    left: 50%;
    margin-left: -16%;
}

.each-addr-active {
    color: #333;
}

/*媒体查询*/

@media screen and (max-height: 566px) {
    .logo {
        margin: 12% 0 8% 0;
    }
}
