/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}


/*content*/

.content {
    margin-bottom: 20%;
}

.qr-wrap {
    width: 16rem;
    height: 16rem;
    margin-bottom: 1.6rem;
    padding: .8rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, .3);
}

.qrcode {
    width: 100%;
    height: 100%;
}

.qrcode canvas,
.qrcode img {
    width: 100%;
    height: 100%;
}

.content > p {
    font-size: .857rem;
    text-align: center;
    color: #fff;
}


/*footer*/

.footer {
    line-height: 1.7rem;
}

.footer dt,
.footer dd {
    display: inline-block;
    vertical-align: middle;
}


/*媒体查询*/

@media screen and (max-height: 560px) {
    .qr-wrap {
        width: 13rem;
        height: 13rem;
    }
    .content {
        margin-bottom: 14%;
    }
}
