@charset 'utf-8';
html,
body,
.main {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/**
 * 主区域
 */

.main {
    background: url('../images/bg/custom.jpg') no-repeat;
    background-size: cover;
}

.main-wrap {
    margin-top: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*表单*/

.form-wrap {
    padding-top: 46px;
}

.form-title {
    margin-bottom: 24px;
}

.form-con {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
}

.form-each {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

.form-each input {
    line-height: 120%;
    display: inline-block;
    width: 200px;
    background: transparent;
}

.form-submit {
    margin-top: 60px;
    padding: 6px 20px;
    outline: 1px solid #fff;
    background-color: transparent;
}

.form-submit:hover {
    outline-color: transparent;
    outline-offset: 12px;
    background-color: #bdb099;
}

.input-item {
    /*line-height: 1.4;*/
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder {
    color: #ccc;
}

.contact em {
    font-style: normal;
}

.contact i {
    background-position: -18px -54px;
}

.contact-choice {
    height: 0;
}

.contact:hover .contact-choice {
    height: auto;
}

.contact-choice li {
    padding: 0 10px;
    cursor: pointer;
}

.contact-choice li:hover {
    color: #fff;
    background-color: #bdb099;
}


/**
 * others
 */

.r {
    background-color: red;
}

.g {
    background-color: green;
}

.p {
    background-color: pink;
}

.y {
    background-color: yellow;
}
