@charset 'utf-8';

/*public*/

.wm {
    width: 980px;
}

.mw {
    min-width: 1000px;
}


/*header*/

.main {
    background-color: #f5f6f5;
}

.list-sel label .i-arrow,
.sort .i-arrow {
    top: 4px;
}


/*导航*/

.list-weather {
    line-height: 20px;
    width: 95%;
    padding-top: 20px;
}

.list-weather dl {
    height: 40px;
}

.list-weather dt,
.list-weather dd {
    height: 20px;
}

.weather-icon {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.list-nav {
    border-bottom: 2px solid #e0e0e0;
}

.list-nav li {
    line-height: 38px;
    height: 38px;
    margin-right: 20px;
    border-bottom: 2px solid #fff;
}

.list-nav li:last-child {
    margin-right: 0;
}

.list-nav li.active,
.list-nav li:hover {
    color: #bdb099;
    border-bottom: 2px solid #bdb099;
}


/*筛选区域*/

.list-sel section {
    border-bottom: 1px solid #e0e0e0;
}

.list-sel section:last-child {
    border: none !important;
}

.sel-no,
.sel-con label span,
.list-filter li,
.clear {
    line-height: 24px;
    display: inline-block;
    height: 24px;
    padding: 0 5px;
}

.opt-more .i-arrow,
.type-more .i-arrow,
.list-filter .i-arrow {
    top: 3px;
}

.list-sel label.active .i-arrow {
    background-position: -72px 0;
}

.sel-no.active,
.list-sel label.active span {
    color: #fff;
    background-color: #bdb099;
}

.sel-con {
    overflow: hidden;
    width: 768px;
}

.sel-con label {
    float: left;
    overflow: hidden;
    width: 96px;
    margin-bottom: 5px;
}

.sel-con label span {
    float: left;
    padding-left: 2px;
    cursor: pointer;
}

.sel-con.active {
    height: auto !important;
}

.list-filter {
    overflow: hidden;
    height: 0;
}

.list-filter.active {
    height: auto;
}

.list-filter li {
    margin-right: 20px;
    margin-bottom: 10px;
}

.list-filter ul {
    max-width: 838px;
}

.clear {
    padding-left: 15px !important;
    border-left: 1px solid #bdb099;
}


/*展示结果*/

.sort li.active {
    color: #bdb099;
}

.each {
    width: 480px;
}

.each:nth-child(2n) {
    margin-right: 0;
}

.img-wrap {
    height: 270px;
}

.img-wrap div {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, .4)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .4) 100%);
}

:root .img-wrap div {
    filter: none;
}

.each-name {
    width: 330px;
}

.img-wrap div,
.img-tip {
    line-height: 44px;
    height: 44px;
}

.each:hover img {
    -webkit-transform: scale(1.02) translateZ(0);
    -moz-transform: scale(1.02) translateZ(0);
    -ms-transform: scale(1.02) translateZ(0);
    -o-transform: scale(1.02) translateZ(0);
    transform: scale(1.02) translateZ(0);
}
