<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>高远雅居</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <style>
        html,
        body {
            height: 100%;
        }
        .shop_temp {
            background: url(/img/other/shop_temp.jpg) no-repeat center center;
            background-size: cover;
        }
    </style>
    <!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="body">
    <main class="main h1">
        #parse("./common/nav.vm")
        <figure class="shop_temp w1 h1"></figure>
    </main>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/searchHotel.js"></script>
</body>

</html>
