@charset 'utf-8';

/*public*/

.wm {
    width: 980px
}

.mw {
    min-width: 980px
}


/*header*/

.header,
.u-info,
.u-tit,
.main {
    background-color: #f5f6f5
}

.header a {
    line-height: 40px
}

.header a:hover {
    color: #bdb099
}

.i-head {
    top: 6px
}

.header .i-arrow,
.list-sel label .i-arrow,
.sort .i-arrow {
    top: 4px
}

.u-info {
    width: 110px;
    top: -200px
}

.u-out {
    border-top: 1px solid #e0e0e0
}

.u-info a {
    line-height: 30px
}

.user:hover .u-info {
    top: 40px
}

.user:hover .i-arrow-b {
    background-position: 0 -36px
}


/*导航*/

.list-nav {
    border-bottom: 2px solid #e0e0e0
}

.list-nav li {
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid #fff
}

.list-nav li.active,
.list-nav li:hover {
    color: #bdb099;
    border-bottom: 2px solid #bdb099
}


/*筛选区域*/

.list-sel section {
    border-bottom: 1px solid #e0e0e0
}

.list-sel section:last-child {
    border: none !important
}

.sel-no,
.sel-con label span,
.list-filter li,
.clear {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 5px
}

.opt-more .i-arrow,
.type-more .i-arrow,
.list-filter .i-arrow {
    top: 3px
}

.list-sel label.active .i-arrow {
    background-position: -72px 0
}

.sel-no.active,
.list-sel label.active span {
    background-color: #bdb099;
    color: #fff
}

.sel-con {
    width: 768px;
    overflow: hidden
}

.sel-con label {
    margin-bottom: 5px;
    float: left;
    width: 96px;
    overflow: hidden
}

.sel-con label span {
    padding-left: 2px;
    cursor: pointer;
    float: left
}

.sel-con.active {
    height: auto !important
}

.list-filter {
    height: 0;
    overflow: hidden
}

.list-filter.active {
    height: auto
}

.list-filter li {
    margin-bottom: 10px;
    margin-right: 20px
}

.list-filter ul {
    max-width: 838px
}

.clear {
    padding-left: 15px !important;
    border-left: 1px solid #bdb099
}

/*展示结果*/
.sort li.active {
    color: #bdb099
}

.each {
    width: 480px
}

.each:nth-child(2n) {
    margin-right: 0
}

.img-wrap {
    height: 270px
}

.img-wrap div {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, .4)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .4) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .4) 100%)
}

:root .img-wrap div {
    filter: none
}

.img-wrap div,
.img-tip {
    height: 44px;
    line-height: 44px
}

.each:hover img {
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02)
}

/*分页*/
.paging span {
    cursor: pointer;
    padding: 2px 10px
}

.paging span:first-child {
    margin-left: 0
}

.paging span.active {
    color: #fff;
    background-color: #bdb099
}

/*content*/


/*foter*/

.r {
    background-color: red
}

.g {
    background-color: green
}

.y {
    background-color: yellow
}
