@charset 'utf-8';

/*public*/

html,
body {
    height: 100%;
}

.tsf-height {
    -webkit-transition: height .6s, padding .6s, margin .6s;
    -moz-transition: height .6s, padding .6s, margin .6s;
    -o-transition: height .6s, padding .6s, margin .6s;
    transition: height .6s, padding .6s, margin .6s;
}

.border-t {
    border-top: 1px solid #e2e2e2;
}

.pem {
    padding: .6em .4em;
}

.i-sub {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) no-repeat;
    background-size: 700%;
}

.i-up {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) 0 -32px/cover no-repeat;
    background-size: 700%;
}

.i-del {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) -64px -32px/cover no-repeat;
    background-size: 700%;
}

.btn-one {
    padding: 0 1.2em;
    line-height: 2.2em;
}


/*店铺列表*/

.shop-wrap {
    overflow-y: auto;
    padding-bottom: 50px;
}

.shop-tit {
    padding: 0 .4em;
}

.shop-item.active {
    background-color: #e5e5e5;
}

.shop-item {
    padding: 10px 10px 0;
}

.shop-name {
    line-height: 20px;
    top: 0;
    right: 134px;
    bottom: -0;
    left: .4em;
}

.shop-status {
    line-height: 30px;
    padding-left: 8px;
}

.shop-item.active .shop-status {
    display: inline-block;
}


/*菜品列表*/

.shop-item.active .food-item {
    border-color: #cbcbcb;
}

.food-item.active .food-img {
    opacity: .65;
}

.food-item.active .food-img::before {
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    content: '下架了';
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .6);
}

.food-item.active .car-num {
    color: #9a9a9a;
}

.food-item.active .i-up,
.food-item.active .i-sub {
    visibility: hidden;
}

.shop-item.active .i-up,
.shop-item.active .i-sub {
    visibility: hidden;
}

.food-img {
    width: 105px;
    height: 72px;
}

.car-num {
    width: 24px;
}

.food-con {
    top: .6em;
    right: .4em;
    bottom: .6em;
    left: 124px;
}

.add-animate {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
    -webkit-transform: translateX(220%) rotate(40deg);
    -moz-transform: translateX(220%) rotate(40deg);
    -o-transform: translateX(220%) rotate(40deg);
    transform: translateX(220%) rotate(40deg);
}

.add-car.active .add-animate {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
}


/*页脚*/

.footer {
    height: 44px;
    background-color: #ecf0ef;
}

.footer-con {
    line-height: 44px;
    right: 126px;
    border-top: 1px solid #e2e2e2;
}

.statement {
    width: 126px;
    color: #fff;
    background-color: #19dd9f;
}

.footer.active dd {
    color: #686c6b;
}

.footer.active .statement {
    color: #5e5f5f;
    background-color: #bbb;
}
