@charset 'utf-8';

/*public*/

html,
body {
    height: 100%;
}

.i-index {
    width: 60px;
    height: 60px;
    background: url(/img/pay-return.png) no-repeat -61px 0/380%;
    display: inline-block;
}

.i-order {
    width: 60px;
    height: 60px;
    background: url(/img/pay-return.png) no-repeat 0 0/380%;
    display: inline-block;
}

.w5 {
    width: 50%;
}


/*页脚*/

.footer {
    bottom: 40px;
}
