@charset 'utf-8';

/*public*/

.b-t {
    border-top: 1px solid #f5f5f5;
}

.i-arrow-down {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/img/sprite-icon.png) -100px -5px no-repeat;
    background-size: 960%;
    -webkit-transform: -webkit-rotate(180deg);
    -moz-transform: -moz-rotate(180deg);
    -o-transform: -o-rotate(180deg);
    transform: rotate(180deg);
}

.i-checked {
    display: inline-block;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 15px;
    background: url(/img/sprite-icon.png) -148px -38px no-repeat;
    background-size: 800%;
}

.dis-each.active .i-checked {
    background: url(/img/sprite-icon.png) -148px -4px no-repeat;
    background-size: 800%;
}


/*页脚*/

.footer {
    bottom: 2em;
}

.pay-btn {
    line-height: 3em;
    box-shadow: 0px 4px 20px 0 rgba(25, 221, 159, .4);
}


/*蒙层*/

.mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}

.mask.active {
    opacity: 1;
}

.discount-wrap {
    top: 20px;
    left: 10px;
    bottom: 20px;
    right: 10px;
    margin: auto;
    overflow-y: auto;
}

.dis-each {
    border-radius: 8px;
    height: 188px;
    background: url(/img/discount-bg.jpg) no-repeat 50% bottom/cover;
}

.dis-each:last-child {
    margin-bottom: 0;
}

.dis-full {
    font-size: 34px;
    margin-left: .6em;
}

.discount {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 34px;
    background: url(/img/discount.png) no-repeat 50% 50%/cover;
}

.discount::before {
    content: '￥';
    font-size: 30px;
}


/*media*/

@media screen and (max-width: 380px) {
    .dis-each {
        height: 165px;
    }
}

@media screen and (max-width: 330px) {
    .dis-each {
        height: 140px;
    }
}
