@charset 'utf-8';

/*public*/

body.active {
    padding-top: 55px;
}

.main {
    padding-bottom: 50px;
}

.border-t {
    border-top: 1px solid #e2e2e2;
}

.pem {
    padding: .8em 1em;
}

.i-phone {
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) -74px -4px no-repeat;
    background-size: 779%;
}

.i-sub {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) no-repeat;
    background-size: 700%;
}

.i-up {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/sprite-icon.png) 0 -32px/cover no-repeat;
    background-size: 700%;
}


/*轮播*/

.swiper-container {
    height: 160px;
}

.carousel {
    background-color: #e4ded3;
}

.swiper-dir {
    line-height: 40px;
    margin-top: -40px;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .2));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, .2));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, .2));
    background: linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.swiper-lazy {
    min-width: 100%;
    min-height: 100%;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    border: 1px solid #fff;
    background-color: #fff;
}


/*店名、地址、电话*/

.shop-name {
    line-height: 30px;
    top: 0;
    right: 30px;
    bottom: 0;
    left: 0;
}

.shop-status {
    line-height: 1.8em;
    padding: 0 .6em;
    background-color: #e2e2e2;
}

.shop-status.active {
    background-color: #fed61b;
}

.shop-addr {
    right: 50px;
}


/*配送信息*/

.shop-send.active {
    position: fixed;
    top: 0;
    left: 0;
    /*chrome 内核 浏览器 position: fixed 防止抖动*/
    -webkit-transform: translateZ(0);
    border-top: none;
    border-bottom: 1px solid #e2e2e2;
}

.din-mode-txt {
    line-height: 30px;
}

.din-mode-btn {
    line-height: 2em;
    padding: 0 .2em;
    border: 1px solid #19dd9f;
}

.din-mode-btn.active {
    color: #fff;
    background-color: #19dd9f;
}


/*菜品列表*/

.food-item.active .food-img {
    opacity: .65;
}

.food-item.active .food-img::before {
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    content: '下架了';
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .6);
}

.food-item.active .car-num {
    color: #9a9a9a;
}

.food-item.active .i-up,
.food-item.active .i-sub {
    visibility: hidden;
}

.food-img {
    width: 105px;
    height: 72px;
}

.car-num {
    width: 24px;
}

.food-con {
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 130px;
}

.add-animate {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
    -webkit-transform: translateX(220%) rotate(40deg);
    -moz-transform: translateX(220%) rotate(40deg);
    -o-transform: translateX(220%) rotate(40deg);
    transform: translateX(220%) rotate(40deg);
}

.add-car.active .add-animate {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
}


/*页脚*/

.footer {
    height: 44px;
    background-color: #f6f6f6;
}

.footer.active {
    background-color: #f2f7f5;
}

.footer-con {
    right: 126px;
    padding-left: 1em;
    border-top: 1px solid #e2e2e2;
}

.footer-con dt {
    top: -.4em;
    width: 44px;
    height: 44px;
    background: url(/img/sprite-icon.png) -33px 3px no-repeat #f2f7f5;
    background-size: 560%;
    box-shadow: 0 -2px 1px #dadada;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.footer.active dt {
    background: url(/img/sprite-icon.png) -33px 3px no-repeat #f6f6f6;
    background-size: 560%;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
}

.footer.active dd {
    color: #fe761b;
}

.footer-con i {
    font-style: normal;
    line-height: 20px;
    top: -4px;
    right: -10px;
    background-color: #fe761b;
}

.footer.active i {
    display: inline-block;
}

.statement {
    width: 126px;
    color: #5e5f5f;
    background-color: #bbb;
}

.footer.active .statement {
    color: #fff;
    background-color: #19dd9f;
}
