<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>$!{data.data[0].brandname} - 推荐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/searchHotel.css" />
</head>

<body id="body">
    <main class="main">
        #parse("./common/nav.vm")
        <section class="hotel-wrap ml10 mr10">
            #if ($msg == '获取数据成功')
                #foreach ($item in $data.data)
                <a class="hotel-list pr h70" href="/searchHotel/details/$!{item.id}?indate=$!{indate}&outdate=$!{outdate}">
                    <img class="pa" src="$!{item.tempImagepath[0].tmpurl}" alt="$!{item.name}" />
                    <section class="detail w1 bb h1">
                        <h2 class="vam fc3 dlb to">$!{item.name}</h2>
                        <span class="type dlb r4 vam">$!{item.brandname}</span>
                        <div class="h30 c">
                            <ul class="star fl" data-num="$!{item.star}">
                                <!-- <li></li> -->
                                <!-- <li class="unfull"></li> -->
                            </ul>
                            <span class="price h1 fr">$!{item.minprice}</span>
                        </div>
                        <div class="addr to">地址：$!{item.address}</div>
                    </section>
                </a>
                #end
            #else
            <a class="no-hotel tac">非常抱歉，没有符合您的需求的酒店</a>
            #end
        </section>
    </main>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/searchHotel.js"></script>
</body>

</html>
