<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>订单预览</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/manage-order.css" />
</head>

<body class="fs0">
    ## 加上 active 表示扩展
    <main id="main" class="main p10 tac bb pr">
        <div class="total-amount bc pb20 pt10">
            <dl class="pr t5">
                <dt class="fcf fs14">今日收益额</dt>
                <dd class="price fs16 fc-number">$!{totalAmount}</dd>
            </dl>
        </div>
        ## 加上 active 表示不要底部按钮
        <section id="content" class="order-wrap bc-light r4">
            <div class="border-b fc-impor-one">
                <h4>下单时间</h4>
                <h4>订单号</h4>
                <h4>金额（元）</h4>
            </div>
            <div class="order-list">
                #foreach ($order in $orderList)
                <div class="border-b">
                    <span>$!{order.orderTime}</span>
                    <span>$!{order.orderNum}</span>
                    <span class="fc-number price">$!{order.amount}</span>
                </div>
                #end
            </div>
            <div class="toggle-full border-t tar pt10 pb10"><i class="dlb w20 h20 mr20"></i></div>
        </section>
    </main>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/manage-order.js"></script>
</body>

</html>
