<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    #if ($data)
    <title>编辑品牌</title>
    #else
    <title>新增品牌</title>
    #end
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- basic -->
    <link rel="stylesheet" href="/css/base.css" />
    <!-- this -->
    <link rel="stylesheet" href="/css/all.css" />
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="body">
    <!-- 头部 -->
    #parse("./common/header.vm")
    <main class="main bb pr page_brand">
        #parse("./common/aside.vm")
        <section id="allWrap" class="all-wrap">
            <!-- 导航栏 -->
            <div class="con-nav i-lh30 i-bcm p10 mb20 c">
                <nav class="fl">
                    <a>品牌管理</a>
                    #if ($data)
                    <a>编辑品牌</a>
                    #else
                    <a href="/hotelType/add">新增品牌</a>
                    #end
                </nav>
            </div>
            <form class="form" autocomplete="off">
                <table class="con-show w1">
                    <tbody>
                        #if ($data)
                        <input class="edit-id" name="id" type="hidden" value="${data.data.id}" />
                        #end
                        <tr>
                            <td>品牌名称</td>
                            <td><input class="ipt-item i-input i-w-long" data-tit="品牌名称" data-need="true" data-name="name" type="text" placeholder="品牌名称" value="$!{data.data.name}" /></td>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>排序号</td>
                            <td><input class="ipt-item only-num i-input i-w-long" data-tit="排序号" data-need="true" data-name="orderlist" type="text" placeholder="排序号(只能为数字，且数字不要以0开头)" value="$!{data.data.orderlist}" /></td>
                            <td>&emsp;</td>
                        </tr>
                        <tr class="goods-img">
                            <td>品牌图片</td>
                            <td id="imgCropWrap" colspan="2">
                                #if ($data)
                                <figure>
                                    <img src="${data.data.tempImagepath}" />
                                    <span class="img-del">×</span>
                                </figure>
                                <label class="add-img hide-this" data-num="1">
                                #else
                                <label class="add-img" data-num="1">
                                #end
                                    <input id="imgUpload" class="none" type="file" name="inputFile" />
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="con-operation tac pt20 mb30">
                    #if ($data)
                    <button type="button" class="submit-form type-edit i-button i-b-mw">保存</button>
                    #else
                    <button type="button" class="submit-form i-button i-b-mw">保存</button>
                    #end
                </div>
            </form>
        </section>
    </main>
    <script>
        var RenderData = {
            imgData: '$!{data.data.imagepath}'
        };
    </script>
    <!-- script -->
    <script src="/js/jq.js"></script>
    <script src="/js/public.js"></script>
    <!-- 下面4个js是图片异步上传插件（加载顺序不要乱） -->
    <script src="/js/checkFileTypeAndSize.js"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <script src="/js/fileUpload.js"></script>
    <script src="/js/layer.min.js"></script>
    <script src="/js/migrate.js"></script>
    <!-- this -->
    <script src="/js/all.js"></script>
    <script src="/js/hotelTypeAddEdit.js"></script>
</body>

</html>
