<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>酒店预订</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/hoteltype.css" />
</head>

<body id="body">
    <main id="main" class="main">
        #parse("./common/nav.vm")
        <section id="brand" class="brand">
            #if ($status == true)
                #foreach ($item in $data)
                <figure class="brand-img" data-id="$!{item.id}" data-name="$!{item.name}">
                    <img src="$!{item.imagepath}" />
                </figure>
                #end
            #end
            <dl class="brand-tit">
                <dt class="dlb vam">酒店類型</dt>
                <dd class="brand-name dlb vam ml15 r4">…</dd>
            </dl>
        </section>
        <section class="site-time pr">
            <div class="s-t-left h1 r4">
                <dl class="choice-city c">
                    <dt>選擇城市</dt>
                    <dd class="city">…</dd>
                    <i></i>
                </dl>
                <dl class="start-time c">
                    <input class="start-time-ipt" type="hidden" />
                    <dt>入住時間</dt>
                    <dd class="start-time-show">…</dd>
                    <i></i>
                </dl>
                <dl class="end-time c">
                    <input class="end-time-ipt" type="hidden" />
                    <dt>離店時間</dt>
                    <dd class="end-time-show">…</dd>
                    <i></i>
                </dl>
            </div>
            <div class="s-t-right h1 pa r0 t0">
                <div class="location r4 tac h60 mb10">
                    <i></i>
                    我的位置
                </div>
                <span class="all-time tac r4">共1晚</span>
            </div>
        </section>
        <button class="submit-search w1 r4 fcf mt10" type="button">開始搜索</button>
    </main>
    <!-- 选择城市 -->
    <div id="choiceCity" class="city-wrap pf t0 l0 w1 h1 none">
        <section class="bcf middle">
            <div class="bb h1">
                <ul>
                    <!-- <li class="city-list c"><span>当前城市名</span><i class="fr fs12">当前定位</i></li>
                    <li class="city-tit">热门城市</li>
                    <li class="city-list"><span>城市列表</span></li> -->
                </ul>
            </div>
            <button type="button" class="close-city pa b0 bcf l0 w1">取消</button>
        </section>
    </div>
    <script src="/js/zepto.min.js"></script>
    <!-- 日期插件 -->
    <link rel="stylesheet" href="/css/mobiscroll.css" />
    <script src="/js/mobiscroll.min.js"></script>
    <!-- layer -->
    <link rel="stylesheet" href="/css/layer.css" />
    <script src="/js/layer.js"></script>
    <!-- baidu geo -->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=padLie9GBFlbnAHAx0GkYAUL"></script>
    <!-- this -->
    <script src="/js/hotelType.js"></script>
</body>

</html>
