<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>店铺-我的菜</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/swiper.css" />
    <link rel="stylesheet" href="/dist/css/shop.css" />
</head>

<body>
    ## 静态轮播
    <section class="carousel w1 pr ofh z3">
        <div id="swiper" class="swiper-container">
            <div class="swiper-wrapper bcf">
                #foreach ($foodImg in $data.shopimagepath)
                <div class="swiper-slide">
                    <img class="swiper-lazy middle" data-src="${foodImg}" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                #end
            </div>
        </div>
        <nav class="swiper-dir pr z1 tac"></nav>
    </section>
    <main class="main">
        ## 店名、地址、电话
        <section id="shopName" class="pem">
            <div class="pr tar h30 mb5">
                <div class="shop-name pa tal">
                    <p class="fc-impor-one dlb mr10">$!{data.shopname}</p>
                    <span class="shop-status fcf fs12 r4 dlb #if ($data.shopisopen == '营业中')active#end">$!{data.shopisopen}</span>
                </div>
                <i class="js-phone i-phone dlb"></i>
            </div>
            <dl class="pr tar">
                <dt class="shop-addr tal to pa l0 fc-impor-two">$!{data.shopaddress}</dt>
                <dd class="dlb fc-sub vam">$!{data.distance}#if ($data.distance)m#end</dd>
            </dl>
        </section>
        ## 配送信息
        <section id="send" class="shop-send w1 border-t pem bb bcf z3 c">
            <dl class="din-mode-txt fl">
                <dt class="dlb mr5">配送费</dt>
                <dd class="js-send-money dlb price">$!{data.sendmoney}</dd>
            </dl>
            <div class="fr">
                #foreach ($dinMode in $data.diningtypes)
                <button class="js-din-mode din-mode-btn ml5 r4 fc-main bcf #if ($dinMode.default)active#end" data-enname="$!{dinMode.name}" data-freight="$!{dinMode.freight}">$!{dinMode.zhname}</button>
                #end
            </div>
        </section>
        ## 菜品列表
        <ul id="foodList" class="ofh">
            #foreach ($food in $data.foods)
            <li class="js-food-item food-item border-t pem pr #if (!$food.ismarketable)active#end" data-id="$!{food.id}">
                <figure class="js-go-food food-img r4 pr" style="background: url(${food.imagepath}) 50% 50% / cover no-repeat;"></figure>
                <div class="food-con pa">
                    <div>
                        <h3 class="js-go-food fc-impor-one to">$!{food.name}</h3>
                        <dl class="fc-sub">
                            <dt class="dlb">月销量</dt>
                            <dd class="dlb">$!{food.sales}</dd>
                        </dl>
                    </div>
                    <div class="js-add-car add-car c #if ($food.count != 0)active#end">
                        <span class="mt5 price fl fc-number fs16">$!{food.price}</span>
                        <div class="dlb fr"><span class="add-animate dlb"><i class="js-car-opt i-sub vam" data-type="minus"></i><span class="js-car-num car-num dlb tac fs16 vam ml5 mr5 fc-impor-two">$!{food.count}</span></span><i class="js-car-opt i-up vam" data-type="add"></i></div>
                    </div>
                </div>
            </li>
            #end
        </ul>
    </main>
    ## 购物车和结算
    <footer id="footer" class="footer pf w1 l0 b0 c #if ($data.carnum != 0)active#end">
        <dl class="footer-con pa t0 l0 b0">
            <dt class="js-to-car r50 pr dlb vam"><i class="js-num pa w20 fs12 tac r50 fcf none">$!{data.carnum}</i></dt>
            <dd class="js-price price dlb vam fc-impor-two fs16 ml5">$!{data.carprice}</dd>
        </dl>
        <button class="js-statement statement h1 fr dlb">去结算</button>
    </footer>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/swiper.js"></script>
    ## 轮播器和滚动检测代码内嵌页面
    <script>
    var G = {
        device: '$!{device}',
        shopId: '$!{shopid}',
        userId: '$!{userid}',
        phone: '$!{data.shopphone}'
    };
    ! function(win, $) {
        var $swiper = $('#swiper'),
            $send = $('#send'),
            $bodySelect = $body.add($send),
            _win = $(win),
            mySwiper = new Swiper($swiper, {
                setWrapperSize: true,
                pagination: '.swiper-dir',
                paginationClickable: true,
                lazyLoading: true,
                loop: true,
                paginationElement: 'a'
            }),
            _h_swiper = $swiper.height() + $('#shopName').height(),
            scroll = function() {
                if (_win.scrollTop() > _h_swiper) {
                    $bodySelect.addClass('active');
                } else {
                    $bodySelect.removeClass('active');
                }
            };
        ($('.swiper-dir').find('a').length < 2) && $('.swiper-dir').remove();
        _win.on('scroll', function() {
            scroll();
        })
    }(window || this, Zepto);
    </script>
    <script src="/dist/js/shop.js"></script>
</body>

</html>
