#parse("./common.html")
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>#if($isGov)干部#else村民#end首页</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="robots" content="index" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="browsermode" content="application" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-page-mode" content="app" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="$ctx/pages-dev/static/img/icon/icon.png" />
    <!-- coolie -->
    <link rel="stylesheet" href="$ctx/pages-dev/static/css/base.css" />
    <link rel="stylesheet" href="$ctx/pages-dev/static/css/public.css" />
    <link rel="stylesheet" href="$ctx/pages-dev/static/css/plugin/layer.css" />
    <!-- /coolie -->
    <!-- coolie -->
    <link rel="stylesheet" href="$ctx/pages-dev/static/css/plugin/swiper.css" />
    <!-- /coolie -->
    <!-- coolie -->
    <link rel="stylesheet" href="$ctx/pages-dev/static/poverty/css/index.css" />
    <!-- /coolie -->
</head>

<body class="bg-gray">
    <main class="main-wrap">
        <!-- 轮播 -->
        <div id="swiper" class="swiper-container fs0">
            <div class="swiper-wrapper">
                <div class="j-s-slide swiper-slide" data-url="$!slide.link" data-src="$ctx/pages-dev/static/poverty/img/temp/indexbg1.jpg">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="j-s-slide swiper-slide" data-url="$!slide.link" data-src="$ctx/pages-dev/static/poverty/img/temp/indexbg2.jpg">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="j-s-slide swiper-slide" data-url="$!slide.link" data-src="$ctx/pages-dev/static/poverty/img/temp/indexbg3.jpg">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- 导航 -->
        <nav class="index-nav tac bb">
            <a href="$uctx/dynamic">
                <div>
                    <span><i class="i i-2-10"></i></span>
                    <p>扶贫动态</p>
                </div>
            </a>
            #if($isGov)
            <a href="$uctx/family">
                <div>
                    <span><i class="i i-5-3"></i></span>
                    <p>我的贫困户</p>
                </div>
            </a>
            #else
            <a href="">
                <div>
                    <span><i class="i i-5-6"></i></span>
                    <p>我的立卡</p>
                </div>
            </a>
            #end
            <a href="$uctx/record">
                <div>
                    <span><i class="i i-5-4"></i></span>
                    <p>帮扶记事</p>
                </div>
            </a>
            <a href="$uctx/profile">
                <div>
                    <span><i class="i i-5-5"></i></span>
                    <p>个人中心</p>
                </div>
            </a>
            <a href="">
                <div>
                    <span><i class="i i-5-1"></i></span>
                    <p>书记信箱</p>
                </div>
            </a>
            <a href="">
                <div>
                    <span><i class="i i-5-9"></i></span>
                    <p>积分排行</p>
                </div>
            </a>
        </nav>
        <!-- 新闻动态 -->
        <section id="newsInfo" class="news-info">
            <h3><i class="i i-8-8"></i><span>&emsp;新闻动态</span></h3>
            <ul>
                <li class="news-item" v-for="newEach in news">
                    <a :href="'#' + newEach.id">
                        <header>
                            <h4>{{newEach.title}}</h4>
                            <ul>
                                <li>
                                    <i class="i i-8-7"></i><span>&ensp;{{newEach.time}}</span>
                                </li>
                                <li>
                                    <dl>
                                        <dt>来自：</dt>
                                        <dd>{{newEach.from}}</dd>
                                    </dl>
                                </li>
                            </ul>
                        </header>
                        <article>
                            <p>{{newEach.content}}</p>
                            <figure v-if="newEach.figure && newEach.figure.length">
                                <div v-for="img in newEach.figure"><i :style="'background: url(' + img + ') no-repeat 50% 50% / cover'"></i></div>
                            </figure>
                        </article>
                    </a>
                    <footer>
                        <div>
                            <button><i class="i" v-bind:class="newEach.comment.active ? 'i-8-11' : 'i-4-13'"></i><span>评论（{{newEach.comment.num}}）</span></button>
                        </div>
                        <div>
                            <button><i class="i" v-bind:class="newEach.like.active ? 'i-4-19' : 'i-4-14'"></i><span>赞（{{newEach.like.num}}）</span></button>
                        </div>
                        <div>
                            <button><i class="i" v-bind:class="newEach.forward.active ? 'i-8-10' : 'i-8-9'"></i><span>转发（{{newEach.forward.num}}）</span></button>
                        </div>
                    </footer>
                </li>
            </ul>
        </section>
        <!-- 便民电话 -->
        <a class="com-tel pf" href="$uctx/phonebook">
            <div class="top-50 top-middle">
                <i class="i i-5-2"></i>
                <p>便民电话</p>
            </div>
        </a>
    </main>
    <!-- coolie -->
    <script src="$ctx/pages-dev/static/js/plugin/fastclick.js"></script>
    <script src="$ctx/pages-dev/static/js/plugin/zepto.js"></script>
    <script src="$ctx/pages-dev/static/js/plugin/layer.js"></script>
    <script src="$ctx/pages-dev/static/js/public.js"></script>
    <script src="$ctx/pages-dev/static/js/verify.js"></script>
    <!-- /coolie -->
    <!-- coolie -->
    <script src="$ctx/pages-dev/static/js/plugin/swiper.jquery.js"></script>
    <!-- /coolie -->
    <!-- coolie -->
    <script src="$ctx/pages-dev/static/js/plugin/vue.js"></script>
    <!-- /coolie -->
    <!-- coolie -->
    <script src="$ctx/pages-dev/static/poverty/js/index.js"></script>
    <!-- /coolie -->
</body>
