/*public*/

body {
    padding-bottom: 50px;
    background-color: #fafafa;
}

.double-c {
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 50%;
}

.double-c::before {
    display: block;
    width: 2px;
    height: 2px;
    margin: 2px;
    content: '';
    border: 1px solid;
    border-radius: 50%;
}

.card {
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(239, 239, 239, .5);
}

.card-tit {
    font-size: 16px;
    margin: 10px 10px 0;
    padding: 20px 0 14px;
    color: #ff8401;
}

.card-tit i,
.i-right {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.card-tit span {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
}

.i-doc {
    background: url(../img/icon/i.png) no-repeat -26px -76px/700%;
}

.i-safe {
    background: url(../img/icon/i.png) no-repeat -26px -52px/700%;
}

.i-process {
    background: url(../img/icon/i.png) no-repeat -52px -52px/700%;
}

.i-info {
    background: url(../img/icon/i.png) no-repeat -88px -76px/700%;
}

.i-join-num {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -142px -2px/460%;
}

.i-add-num {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -146px -91px/470%;
}

.i-now-cash {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -142px -46px/460%;
}

.i-sure-save {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -138px -138px/450%;
}

.i-sure-note {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -54px -138px/450%;
}

.i-sure-true {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icon/i.png) no-repeat -96px -138px/450%;
}

.i-process-ok {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/icon/i.png) no-repeat -14px -136px/540%;
}

.i-call {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i.png) no-repeat 0 -79px/610%;
}

.i-star {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../img/icon/i.png) no-repeat -2px -52px/700%;
}

.i-share,
.i-join {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(../img/icon/i.png) no-repeat 3px -22px/450%;
}

.i-join {
    background: url(../img/icon/i.png) no-repeat -67px 3px/450%;
}


/*header*/

.header {
    height: 160px;
}

.h-con {
    padding: 0 2.4em;
}

.header::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .8;
    background-image: -moz-linear-gradient( 132deg, rgb(255, 132, 0) 0%, rgb(255, 180, 0) 100%);
    background-image: -webkit-linear-gradient( 132deg, rgb(255, 132, 0) 0%, rgb(255, 180, 0) 100%);
}

.header::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    content: '';
    background: url(../img/icon/c_bg2.png) repeat-x center bottom/auto 100%;
}

.h-tit {
    font-size: 22px;
    text-shadow: 0 1px 2px rgba(197, 197, 197, .6);
}

.h-list {
    line-height: 1.6em;
    left: -20px;
}

.h-list span {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}


/*计划详情基本数据*/

.plan-base {
    padding: 20px 10px;
}

.plan-base li {
    position: relative;
    float: left;
    width: 33.33%;
}

.plan-base li::after {
    position: absolute;
    top: 20%;
    right: 0;
    display: block;
    width: 0;
    height: 60%;
    content: '';
    border-right: 1px dashed #f2f2f2;
}

.plan-base li:last-child::after {
    display: none;
}

.p-num-tit,
.p-num {
    display: block;
    margin-top: .6em;
}

.p-num {
    color: #070a35;
}


/*计划规则*/

.plan-rule {
    padding-bottom: 20px;
}

.plan-rule dl {
    line-height: 1.8em;
    position: relative;
}

.plan-rule dt {
    position: absolute;
    width: 90px;
    margin-left: 34px;
}

.plan-rule dt::after {
    content: ':';
}

.plan-rule dd {
    padding: 1px 10px 0 104px;
}

.rule-detail {
    margin: 1em 0 0 34px;
    padding: 3px 8px 2px;
    border: 1px solid #999;
}

.rule-detail i,
.detail-doc .i-right {
    background: url(../img/icon/i.png) no-repeat -26px -28px/700%;
}


/*平台保障*/

.plan-ensure li,
.plan-process li {
    position: relative;
    min-height: 42px;
    padding-bottom: 14px;
}

.plan-ensure i {
    position: absolute;
    margin-left: 36px;
}

.plan-ensure div,
.plan-process div {
    margin: 0 10px 0 106px;
}

.plan-process h4,
.plan-ensure h4 {
    line-height: 20px;
    margin-bottom: 2px;
    color: #333;
}

.plan-process p,
.plan-ensure p {
    font-size: 12px;
    line-height: 20px;
}


/*互助申请流程*/

.plan-process i {
    position: absolute;
    margin-left: 40px;
    background-color: #fff;
}

.plan-process::before {
    position: absolute;
    top: 24px;
    left: 56px;
    display: block;
    width: 0;
    height: 100px;
    content: '';
    border-left: 1px solid #fee2c9;
}

.call {
    padding: 1em 0;
    color: #fe9d46;
    border-top: 1px dashed #f0f0f0;
}


/*常见问题*/

.plan-question {
    margin: 0 10px 10px;
}

.plan-question dd {
    display: none;
    padding: 12px 18px;
    -webkit-transition: transform .4s, opacity .4s;
    -moz-transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(255, 250, 241);
    box-shadow: 0 3px 5px 0 rgba(236, 236, 236, .75);
}

.plan-question dt {
    position: relative;
    z-index: 1;
    padding: 10px 50px 10px 24px;
    border: 1px solid #feefe1;
}

.p-ques-active dt {
    color: #fff;
    border: 1px solid rgb(254, 139, 36);
    background-color: rgb(254, 139, 36);
    box-shadow: 0 2px 4px 0 rgba(241, 163, 94, .75);
}

.p-ques-show dd {
    display: block;
}

.p-ques-active dd {
    margin: 0 6px;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.i-down {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 9px;
    margin: auto;
}

.i-down::before {
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    -webkit-transition: transform .4s, opacity .4s;
    -moz-transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s;
    -webkit-transform: translate3d(6px, -7px, 0) rotate(45deg);
    -moz-transform: translate3d(6px, -7px, 0) rotate(45deg);
    transform: translate3d(6px, -7px, 0) rotate(45deg);
    border: 1px solid #ffc3a2;
}

.p-ques-active .i-down::before {
    -webkit-transform: translate3d(6px, 3px, 0) rotate(45deg);
    -moz-transform: translate3d(6px, 3px, 0) rotate(45deg);
    transform: translate3d(6px, 3px, 0) rotate(45deg);
    border-color: #fff;
}


/*文档*/

.detail-doc {
    color: #ff8401;
}

.detail-doc div {
    margin-right: 40px;
}

.detail-doc .i-star {
    top: 0;
    bottom: 0;
    margin: auto;
}

.detail-doc span {
    display: block;
    padding: 0 27px;
    vertical-align: middle;
}

.detail-doc .i-right {
    top: 0;
    right: 34px;
    bottom: 0;
    margin: auto;
}


/*分享*/

.share {
    background-image: -moz-linear-gradient( 180deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
    box-shadow: 0 -3px 6px 0 rgba(254, 179, 120, .6);
}

.share::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 100%;
    content: '';
    border-left: 1px dashed;
}

.foot-btn {
    width: 50%;
    padding: .6em 0;
    background-color: transparent;
}

.share span {
    margin-left: 1em;
    vertical-align: middle;
}


/*弹窗*/

.mask {
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.mask-active {
    opacity: 1;
}

.share-img {
    width: 96%;
    height: 100%;
    margin-left: 2%;
}


/*媒体查询*/

@media (max-width: 390px) {
    .plan-rule dl {
        font-size: 13px;
        letter-spacing: -.6px;
    }
}
