/*public*/

body {
    padding: 2rem 0;
    background-color: #f6f6f6;
}

.fcm {
    color: #ff7901;
}

.i-reply {
    font-size: 1.12rem;
    font-style: normal;
    line-height: 2.4rem;
    position: absolute;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    color: #ff7901;
    background: url(../img/bg/reply.png) no-repeat 50% / contain #fff;
}

.i-call {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icon/i.png) no-repeat 0 -79px/610%;
}


/*申请流程*/

.flow {
    padding-bottom: 2rem;
    color: #898989;
    border-top: 2px solid #fd7700;
    box-shadow: 0 5px 7px 0 rgba(227, 227, 227, .75);
}

.title {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 1rem;
    padding: 1.2rem 0;
    color: #515151;
    border-bottom: 1px dashed #cfcfcf;
}

.flow-con {
    margin: 0 1.4rem;
}

.flow-con::before {
    position: absolute;
    top: 1.8rem;
    left: 1.2rem;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #fed4ae;
}

.flow-con li {
    position: relative;
    margin-top: 1.6rem;
}

.flow-con li:last-child div::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.6rem;
    height: 100%;
    content: '';
    background-color: #fff;
}

.flow-con div {
    line-height: 1.4rem;
    padding-left: 3.6rem;
}

.flow-con h4 {
    font-size: 1.06rem;
    margin-bottom: .4rem;
    color: #515151;
}

.i-reply {
    font-size: 1.12rem;
    font-style: normal;
    line-height: 2.4rem;
    position: absolute;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    color: #ff7901;
    background: url(../img/bg/reply.png) no-repeat 50% / contain #fff;
}


/*footer*/

.footer {
    line-height: 1.6rem;
    margin-top: 1rem;
    padding: 1.2rem 0;
    text-indent: 5rem;
    box-shadow: 0 5px 7px 0 rgba(227, 227, 227, .75);
}

.call {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 5.2rem;
    height: 100%;
    border-left: 1px solid #ddd;
}
