/*public*/

body {
    padding-bottom: 3rem;
    background-color: #f6f6f6;
}

.padding-com {
    padding: .8rem;
}

.card {
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(226, 226, 226, .7);
}

.i-label {
    left: 10px;
    display: block;
    width: 34px;
    height: 54px;
    background: url(../img/icon/label.png) 50%/cover no-repeat;
}

.i-en-man {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat -97px -87px/600%;
}

.i-radio {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
}

.i-radio::before {
    display: block;
    width: 5px;
    height: 5px;
    margin: 3px;
    content: '';
    border-radius: 50%;
    background-color: #fff;
}

.radio:checked + .i-radio::before {
    background-color: #fe7308;
}

.i-checkbox {
    position: absolute;
    top: 0;
    right: .8rem;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url(../img/icon/i-two.png) no-repeat -119px -113px/500%;
}

.checkbox:checked + .i-checkbox {
    background-position: -2px -68px;
}

.i-del {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/i-two.png) no-repeat -29px -104px/760%;
}

.i-pay {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat -68px -22px/500%;
}

.i-man-big {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat -33px -60px/540%;
}

.i-card-big {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat -61px -60px/540%;
}

.i-man-add {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat 1px -96px/600%;
}

.i-phone {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url(../img/icon/i-two.png) no-repeat -114px 0/600%;
}

.i-wallet {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon/i-two.png) no-repeat -108px -54px/460%;
}

.i-weixin {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon/i-two.png) no-repeat -103px -22px/440%;
}


/*header*/

.header {
    height: 78px;
}

.header::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .8;
    background-image: -moz-linear-gradient( 132deg, rgb(255, 132, 0) 0%, rgb(255, 180, 0) 100%);
    background-image: -webkit-linear-gradient( 132deg, rgb(255, 132, 0) 0%, rgb(255, 180, 0) 100%);
}

.header::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    content: '';
    background: url(../img/icon/c_bg3.png) repeat-x center bottom/auto 100%;
}

.h-tit {
    line-height: 1.8em;
    top: 0;
    right: 10px;
    left: 54px;
    padding: 8px 0 20px;
    text-shadow: 0 2px 2px rgba(169, 169, 169, .6);
}


/*added-man*/

.added-tit {
    background-image: -webkit-linear-gradient( 180deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
}

.added-tit span {
    margin-left: .8rem;
}

.man-each {
    padding: .8rem;
    border-bottom: 1px solid #ededed;
}

.man-each:last-child {
    border-bottom: none;
}

.m-each-txt {
    padding-right: 62px;
}

.m-each-del {
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    padding: 0 .8rem;
}


/*add-man*/

.add-man label {
    display: block;
    padding: 10px 0;
    border-bottom: 1px dashed #efefef;
}

.add-name,
.add-id {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 34px;
}

.add-man input {
    width: 100%;
    height: 100%;
    background-color: transparent;
}


/*add-man-btn*/

.add-man-btn {
    margin-top: 1.2rem;
    padding: .6em;
    border: 1px dashed #d2d2d2;
}


/*convention*/

.convention {
    text-align: justify;
    text-justify: inter-ideograph;
    word-wrap: break-word;
    color: #969696;
    border-bottom: 1px solid #ddd;
    ;
    ;
}

.convention p {
    padding-right: 3.6rem;
    ;
}

.convention a {
    color: #2d2c2c;
}

.convention a::before {
    content: '《';
}

.convention a::after {
    content: '》、';
}

.convention a:last-child::after {
    content: '》';
}


/*pay*/

.pay {
    padding-bottom: 1.7rem;
}

.pay-tit {
    color: #ff7901;
}

.pay-tit span {
    margin-left: .8rem;
}

.pay-label {
    position: relative;
    display: block;
    margin: 0 .8rem;
    border-bottom: 1px dashed #efefef;
}

.pay-txt {
    padding: .8em 3.6rem .8em 34px;
}

.pay-disable {
    opacity: .5;
}

.pay-disable .pay-note {
    display: block;
}

.pay-right {
    right: 0;
    margin: auto;
}


/*footer*/

.pay-btn {
    line-height: 50px;
    display: block;
    background-color: #f60;
    background-image: -moz-linear-gradient( 180deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
    box-shadow: 0 -2px 8px 0 rgba(254, 178, 120, .7);
}

.pay-btn-txt {
    margin-left: 1.4em;
}


/*媒体查询*/

@media (max-width: 350px) {
    .pay-name {
        font-size: 14px;
    }
}
