/*
  layer mobile
*/

.layui-m-layer {
    position: relative;
    z-index: 19891014;
}

.layui-m-layer * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.layui-m-layershade,
.layui-m-layermain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layui-m-layershade {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, .7);
}

.layui-m-layermain {
    font-family: Helvetica, arial, sans-serif;
    display: table;
    pointer-events: none;
}

.layui-m-layermain .layui-m-layersection {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.layui-m-layerchild {
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-align: left;
    pointer-events: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -webkit-overflow-scrolling: touch;
}

.layui-m-layerchild {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* 弹出动画 */

@-webkit-keyframes layui-m-anim-scale {
    /* 默认 */
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes layui-m-anim-scale {
    /* 默认 */
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.layui-m-anim-scale {
    -webkit-animation-name: layui-m-anim-scale;
    animation-name: layui-m-anim-scale;
}

@-webkit-keyframes layui-m-anim-up {
    0% {
        -webkit-transform: translateY(800px);
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes layui-m-anim-up {
    0% {
        -webkit-transform: translateY(800px);
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.layui-m-anim-up {
    -webkit-animation-name: layui-m-anim-up;
    animation-name: layui-m-anim-up;
}

.layui-m-layer0 .layui-m-layerchild {
    width: 90%;
    max-width: 640px;
}

.layui-m-layer1 .layui-m-layerchild {
    border: none;
    border-radius: 0;
}

.layui-m-layer2 .layui-m-layerchild {
    width: auto;
    min-width: 40px;
    max-width: 260px;
    color: #fff;
    border: none;
    background: none;
    box-shadow: none;
}

.layui-m-layerchild h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.layui-m-layerchild h3,
.layui-m-layerbtn span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layui-m-layercont {
    line-height: 22px;
    padding: 50px 30px;
    text-align: center;
}

.layui-m-layer1 .layui-m-layercont {
    padding: 0;
    text-align: left;
}

.layui-m-layer2 .layui-m-layercont {
    line-height: 0;
    padding: 0;
    text-align: center;
}

.layui-m-layer2 .layui-m-layercont i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    border-radius: 100%;
    background-color: #fff;
}

.layui-m-layer2 .layui-m-layercont p {
    margin-top: 20px;
}


/* loading */

@-webkit-keyframes layui-m-anim-loading {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes layui-m-anim-loading {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.layui-m-layer2 .layui-m-layercont i {
    -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.layui-m-layer2 .layui-m-layercont i:first-child {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}

.layui-m-layer2 .layui-m-layercont i.layui-m-layerload {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.layui-m-layer2 .layui-m-layercont > div {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-top: 7px;
}

.layui-m-layerbtn {
    font-size: 0;
    line-height: 50px;
    position: relative;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px solid #d0d0d0;
    border-radius: 0 0 5px 5px;
    background-color: #f2f2f2;
}

.layui-m-layerbtn span {
    font-size: 14px;
    position: relative;
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 0 0 5px 5px;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-flex: 1;
}

.layui-m-layerbtn span[yes] {
    color: #40affe;
}

.layui-m-layerbtn span[no] {
    border-right: 1px solid #d0d0d0;
    border-radius: 0 0 0 5px;
}

.layui-m-layerbtn span:active {
    background-color: #f6f6f6;
}

.layui-m-layerend {
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
}

.layui-m-layerend::before,
.layui-m-layerend::after {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 18px;
    height: 1px;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 3px;
    background-color: #999;
}

.layui-m-layerend::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* 底部对话框风格 */

body .layui-m-layer .layui-m-layer-footer {
    position: fixed;
    right: 0;
    bottom: 10px;
    left: 0;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    background: none;
}

.layui-m-layer-footer .layui-m-layercont {
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, .8);
}

.layui-m-layer-footer .layui-m-layerbtn {
    display: block;
    height: auto;
    border-top: none;
    background: none;
}

.layui-m-layer-footer .layui-m-layerbtn span {
    background-color: rgba(255, 255, 255, .8);
}

.layui-m-layer-footer .layui-m-layerbtn span[no] {
    color: #fd482c;
    border-top: 1px solid #c2c2c2;
    border-radius: 0 0 5px 5px;
}

.layui-m-layer-footer .layui-m-layerbtn span[yes] {
    margin-top: 10px;
    border-radius: 5px;
}


/* 通用提示 */

body .layui-m-layer .layui-m-layer-msg {
    bottom: -200px;
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.layui-m-layer-msg .layui-m-layercont {
    padding: 10px 20px;
}
