/*public*/

body {
    overflow-x: hidden;
    min-width: 318px;
}

.b-line {
    border-bottom: 1px dashed #d0d0d0;
}

.fc-m {
    color: #fa7000;
}

.fc-sub {
    color: #b6b6b6;
}


/*ico*/

.i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url(../img/icon/i.png) no-repeat 0 0/720%;
}

.i-age {
    background-position: -25px -4px;
}

.i-join {
    background-position: -3px -3px;
}

.i-plus {
    background-position: -50px -4px;
}


/*保障计划列表*/

.list-item {
    height: 170px;
    background-color: #fff4e2;
    box-shadow: 0 2px 7px 0 rgba(234, 234, 234, .75);
}

.list-figure {
    width: 120px;
}

.list-con {
    top: 10px;
    right: 20px;
    bottom: 18px;
    left: 120px;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: 0 5px 16px 0 rgba(255, 236, 205, .75);
}

.list-con:after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    content: '';
    background: url(../img/icon/c-bg.png) repeat-x center bottom/auto 100%;
}

.list-text {
    padding: 10px 16px;
}

.list-text h3 {
    margin-bottom: 8px;
}

.list-text span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.join-btn {
    color: #ffa200;
    border: 1px solid rgba(255, 162, 0, 0.48);
    font-weight: 100;
    line-height: 2.2em;
    display: block;
    margin: 10px 16px;
}


/*媒体查询*/

@media (max-width: 372px) {
    .list-con {
        right: 10px;
    }
    .list-text h3 {
        font-size: 14px;
    }
    .list-text {
        padding: 6px 5px;
    }
    .list-item {
        font-size: 12px;
    }
    .join-btn {
        line-height: 2.6em;
        margin-top: 20px;
        margin: 18px 6px 10px;
    }
}
