/*public*/

body {
    background-color: #f6f6f6;
}

.i-add {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon/i.png) no-repeat -76px -83px / 820%;
}


/*main-wrap*/

.main-wrap {
    padding-bottom: 1em;
    border-top: 2px solid rgb(253, 119, 0);
    box-shadow: 0 2px 4px 0 rgba(226, 226, 226, .7);
}

.content {
    line-height: 1.6em;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.content tr {
    border-bottom: 1px dashed #f4f4f4;
}

.content td {
    padding: 20px 0 10px;
}

.content span {
    display: block;
}

.content span:last-child {
    font-size: 12px;
    color: #adadad;
}

.way {
    width: 120px;
}

.money {
    color: #ff7301;
}

.footer {
    padding-top: 1em;
    color: #b3b3b3;
}
