/*public*/

body {
    background-color: #f6f6f6;
    padding-bottom: 2rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(226, 226, 226, .7);
}

.i-add {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icon/i.png) no-repeat -76px -83px / 820%;
}

.gray {
    color: #adadad;
}


/*header*/

.header {
    margin: 1em;
    padding: 3em 0 2em;
}

.header::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 94px;
    content: '';
    opacity: .949;
    background-image: -moz-linear-gradient( 132deg, rgb(253, 71, 0) 0%, rgb(255, 174, 17) 99%);
    background-image: -webkit-linear-gradient( 132deg, rgb(253, 71, 0) 0%, rgb(255, 174, 17) 99%);
    background-image: -ms-linear-gradient( 132deg, rgb(253, 71, 0) 0%, rgb(255, 174, 17) 99%);
}

.header::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 94px;
    content: '';
    -webkit-transition: background-position 1s, opacity 1.4s;
    -o-transition: background-position 1s, opacity 1.4s;
    transition: background-position 1s, opacity 1.4s;
    opacity: 0;
    background-position: center -220%;
}

.h-img-active::after {
    opacity: 1;
    background: url(../img/bg/user-bg.png) no-repeat center center/100% auto;
}

.balance-wrap {
    position: relative;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(253, 89, 0) 0%, rgb(254, 155, 0) 51%, rgb(255, 235, 100) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253, 89, 0) 0%, rgb(254, 155, 0) 51%, rgb(255, 235, 100) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253, 89, 0) 0%, rgb(254, 155, 0) 51%, rgb(255, 235, 100) 100%);
}

.balance-wrap::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
    border-radius: 50%;
}

.balance-wrap::after {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 7px;
    display: block;
    width: 122px;
    height: 122px;
    content: '';
    border-radius: 50%;
    background-color: #fff;
}

.balance-active::before {
    -webkit-transition: transform 1.4s, opacity 1.8s;
    -o-transition: transform 1.4s, opacity 1.8s;
    transition: transform 1.4s, opacity 1.8s;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    background: url(../img/bg/record1.png) no-repeat 0 0 /cover;
}

.balance-con h1 {
    font-size: 22px;
    color: #070a35;
}

.balance-con h2 {
    font-size: 12px;
    color: #969696;
}

.h-txt {
    right: 1em;
    left: 1em;
    top: 1em;
    color: #fff;
    z-index: 1;
}


/*main-wrap*/

.main-wrap {
    padding-bottom: 1em;
}

.content {
    line-height: 1.6em;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.content tr {
    border-bottom: 1px dashed #f4f4f4;
}

.add .amount {
    color: #ff7301;
}

.sub .amount {
    color: #31d0f2;
}

.content td {
    padding: 20px 0 10px;
}

.content span {
    display: block;
}

.content span:last-child {
    font-size: 12px;
}

.who {
    width: 120px;
}

.footer {
    padding-top: 1em;
    color: #b3b3b3;
}
