/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #f6f6f6;
}

.i-pass {
    top: 0;
    bottom: 0;
    left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url(../img/icon/i.png) no-repeat -74px -26px /680%;
}

.i-see-hidden {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/i.png) no-repeat -106px -58px/840%;
}

.visible .i-see-hidden {
    background-position: -86px -58px;
}


/*密码输入界面*/

.pass-wrap {
    margin-top: 2em;
    padding: 2.2em 0;
    box-shadow: 0 2px 6px 0 rgba(236, 236, 236, .7);
}

.pass-con {
    line-height: 2.2em;
    height: 2.2em;
    margin: 0 38px 0 30px;
}

.pass-parent {
    display: -webkit-flex;
    display: flex;
    margin-left: 5em;
    color: #787878;
    align-items: center;
    justify-content: space-between;
}

.pass-parent li {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid #a2a2a2;
    border-radius: 4px;
}

.pass-parent li::before {
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: attr(data-num);
    opacity: 0;
}

.visible .pass-parent li::before {
    opacity: 1;
}

.li-input::after {
    position: absolute;
    top: 28%;
    left: 28%;
    display: block;
    width: 44%;
    height: 44%;
    content: '';
    border-radius: 100%;
    background-color: #787878;
}

.visible .li-input::after {
    opacity: 0;
}

.li-focus {
    border-color: #ff993d !important;
}

.see-wrap {
    top: 0;
    right: 5px;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
}


/*完成按钮*/

.submit {
    margin-top: 1.2em;
    padding: 2em 0;
    box-shadow: 0 2px 6px 0 rgba(236, 236, 236, .7);
}

.submit button {
    line-height: 3em;
    width: 40%;
    background-image: -moz-linear-gradient( 132deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
    background-image: -webkit-linear-gradient( 132deg, rgb(253, 107, 0) 0%, rgb(255, 134, 27) 100%);
}


/*虚拟键盘*/

.keyborad {
    padding: 30px;
    color: #545454;
    box-shadow: 0 -2px 6px 0 rgba(236, 236, 236, 0.7);
    font-weight: 500;
}

.keyborad-con::before {
    position: absolute;
    top: 0;
    left: 33.33%;
    width: 33.33%;
    height: 100%;
    content: '';
    color: #dcdcdc;
    border-right: 1px solid;
    border-left: 1px solid;
}

.keyborad-con tr:last-child td {
    border: none;
}

.keyborad-con td {
    border-bottom: 1px solid #dcdcdc;
    font-size: 18px;
    width: 33.33%;
    position: relative;
    line-height: 2.6em;
}

.able-tap:active {
    background-color: rgba(102, 102, 102, .1);
}

.del {
    color: #a7a7a7;
}


/*媒体查询*/

@media (max-width: 372px) {
    .pass-parent li {
        width: 22px;
        height: 22px;
    }
    .pass-parent li::before {
        line-height: 22px;
    }
    .keyborad {
        padding: 12px;
    }
    .keyborad-con td {
        line-height: 2.4em;
    }
}
