/*public*/

html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #f6f6f6;
}

.i-pass {
    left: 1rem;
    background: url(../img/icon/i.png) no-repeat -89px -31px / 800%;
}

.i-right {
    right: 1rem;
    background: url(../img/icon/i-three.png) no-repeat -84px 2px / 480%;
}

.i-quit {
    background: url(../img/icon/i-three.png) no-repeat -76px -18px / 480%;
}


/*main*/

.main {
    overflow-y: auto;
    padding-bottom: 5rem;
}

.each-list {
    display: block;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(226, 226, 226, .7);
}

.each-list i {
    top: 0;
    bottom: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
}

.each-list span {
    line-height: 1.2rem;
    display: block;
    padding: 1rem 4rem;
    color: #515151;
}


/*footer*/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-image: -moz-linear-gradient( 180deg, rgb(254, 108, 0) 0%, rgb(254, 134, 27) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(254, 108, 0) 0%, rgb(254, 134, 27) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(254, 108, 0) 0%, rgb(254, 134, 27) 100%);
    box-shadow: 0 -2px 6px 0 rgba(254, 178, 120, .6);
}

.i-quit {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.footer span {
    margin-left: 1rem;
}
