<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>房间列表</title>
    ##icon
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    ##basic
    <link rel="stylesheet" href="/css/base.css" />
    ##this
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/room.css" />
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="body">
    ##头部
    #parse("./common/header.vm")
    <main class="main bb pr page_room">
        #parse("./common/aside.vm")
        <section id="allWrap" class="all-wrap">
            ##导航栏
            <div class="con-nav i-lh30 i-bcm h30 p10 mb20 c">
                <nav class="fl">
                    <a>酒店管理</a>
                    <a href="/hotelRoom">房间列表</a>
                </nav>
                <div class="fr c">
                    ##第一个不需要 class ml20
                    <label class="nav-search fl">
                        <input class="search-list i-input i-b1m fl w300" type="text" value="$!{search}" placeholder="房间序列号、房间名称、酒店名称" />
                        <button class="room-search-btn i-button fl" type="botton">搜索</button>
                    </label>
                    <a href="/hotelRoom/add" class="i-button i-b-mw fl ml20">新增房间</a>
                </div>
            </div>
            ##搜索区域 select 集
            <div class="mb20 c">
                <select class="hotel-list i-select fl mr10">
                    <option value="null">选择酒店</option>
                </select>
                <select class="marke-table i-select fl mr10">
                    <option value="null">上下架状态</option>
                    <option value="true">上架</option>
                    <option value="false">下架</option>
                </select>
                <select class="break-fast i-select fl">
                    <option value="null">是否含早</option>
                    <option value="true">含早</option>
                    <option value="false">不含早</option>
                </select>
            </div>
            ##结果展示区域 table
            <table class="i-table mb20 w1">
                <thead>
                    <tr>
                        <th>酒店名称</th>
                        <th>房间名称</th>
                        <th>房间序列号</th>
                        ##<th>房间图片</th>
                        <th>价格</th>
                        <th>是否含早</th>
                        <th>是否上架</th>
                        <th>创建时间</th>
                        <th>默认库存</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    #if ($status == true)
                        #foreach ($item in $data.data.list)
                        <tr data-id="${item.id}" data-name="$!{item.name}" data-store="$!{item.store}" data-price="$!{item.price}">
                            <td>${item.hotelname}</td>
                            <td>${item.name}</td>
                            <td>${item.roomsn}</td>
                            ##<td><img src="$!{item.imagepath}" alt="房间图片" /></td>
                            <td>$!{item.price}</td>
                            <td>
                                #if ($item.isbreakfast == true)
                                是
                                #else
                                否
                                #end
                            </td>
                            <td>
                                #if ($item.ismarketable == true)
                                是
                                #else
                                否
                                #end
                            </td>
                            <td>${item.createdate}</td>
                            <td>$!{item.store}</td>
                            <td>
                                <span class="room-del i-button-m dlb mr10 cp">删除</span>
                                <a class="dlb i-button-m mr10" href="/hotelRoom/add/${item.id}">编辑</a>
                                <span class="room-rule i-button-m dlb cp mr10">库存规则</span>
                                <span class="member-price i-button-m dlb cp">会员价格</span>
                            </td>
                        </tr>
                        #end
                    #else
                    <tr><td colspan="9">暂时没有任何数据</td></tr>
                    #end
                </tbody>
            </table>
            ##分页 paging
            <section class="paging"></section>
        </section>
    </main>
    ##mask
    <div id="mask" class="mask none"></div>
    ##模板 - 用于 查看房间库存
    <template id="tpRule" class="none">
        <div class="rule-wrap bb bc bcf pr r4">
            <span class="close-rule cp t0 r0 fs22 pa" title="关闭窗口">×</span>
            <div class="mb10 c">
                <h2 class="rule-name fl">房间：<b class="fs16">${RuleRoomName}</b> 的库存规则，默认库存：<b class="fs16">${store}</b></h2>
                ##表示不可用 disabled
                <button class="add-rule i-button i-b-mw fr" type="button"></button>
            </div>
            <table class="i-table w1">
                <thead>
                    <tr>
                        <th>规划开始日期</th>
                        <th>规划结束日期</th>
                        <th>库存数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="add-rule-tr none">
                        <td><input class="i-input tal" type="date" data-tit="开始时间" data-name="startdate" /></td>
                        <td><input class="i-input tal" type="date" data-tit="结束时间" data-name="enddate" /></td>
                        <td><input class="i-input tal i-w-short only-num" data-tit="库存数量" data-name="store" type="text" placeholder="正整数" /></td>
                        <td><button class="rule-save i-button-m dlb cp">保存新增</button></td>
                    </tr>
                    <tr tp="${RuleList}"></tr>
                </tbody>
            </table>
            <div class="paging">${RulePaging}</div>
        </div>
    </template>
    ##模板 - 用于 新增规则回写页面
    <template id="tpTr" class="none">
        <tr data-id="${trId}">
            <td class="start-date">${trStartDate}</td>
            <td class="end-date">${trEtartDate}</td>
            <td class="store">${trStore}</td>
            <td>
                <span class="rule-edit dlb cp mr15">编辑</span>
                <span class="rule-del dlb cp">删除</span>
            </td>
        </tr>
    </template>
    ##模板 - 用于 置空新增规则 置空input值
    <template id="tpTrIpt" class="none">
        <td><input class="i-input tal" type="date" data-tit="开始时间" data-name="startdate" /></td>
        <td><input class="i-input tal" type="date" data-tit="结束时间" data-name="enddate" /></td>
        <td><input class="i-input tal i-w-short only-num" data-tit="库存数量" data-name="store" type="text" placeholder="正整数" /></td>
        <td><button class="rule-save i-button dlb cp">保存新增</button></td>
    </template>
    ##模板 - 用于 编辑规则
    <template id="tpTrEdit" class="none">
        <tr data-id="${trId}">
            <td><input class="i-input tal" type="date" data-tit="开始时间" data-name="startdate" value="${trStartDate}" /></td>
            <td><input class="i-input tal" type="date" data-tit="结束时间" data-name="enddate" value="${trEndDate}" /></td>
            <td><input class="i-input tal i-w-short only-num" data-tit="库存数量" data-name="store" type="text" value="${trStore}" placeholder="正整数" /></td>
            <td><button class="rule-save-update i-button-m dlb cp">保存编辑</button></td>
        </tr>
    </template>
    ##模板 - 用户会员价格整体
    <template id="tpMemberPrice" class="none">
        <div class="rule-wrap bb bc bcf pr r4">
            <span class="close-rule cp t0 r0 fs22 pa" title="关闭窗口">×</span>
            <h2 class="mb10">房间：<b class="fs16">${roomName}</b> 的会员价格 (点击确定修改价格)</h2>
            <table class="i-table w1">
                <thead>
                    <tr>
                        <th>会员类型</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="member-rank-wrap">
                    <tr>
                        <td>默认价格</td>
                        <td>¥ ${ordinaryPrice}</td>
                        <td>/</td>
                    </tr>
                    <tr tp="${eachTypePrice}"></tr>
                </tbody>
            </table>
        </div>
    </template>
    ##模板 - 用户会员价格每一条
    ##只有当前房间有会员等级 tr 才有 data-price data-id 属性 （根据属性data-id 判断要不要展示删除按钮）
    <template id="eachTypePrice" class="none">
        <tr class="${memberrankid}" data-memberrankid="${memberrankid}">
            <td>${rankname}</td>
            <td>¥ <input class="i-w-short i-input price-ipt only-price" type="text" placeholder="价格（不能小于等于0）" /></td>
            <td>
                <span class="price-delete i-button-m dlb cp mr10">删除</span>
                <span class="price-update i-button-m dlb cp">确认</span>
            </td>
        </tr>
    </template>
    ##script
    <script>
        var RenderData = {
            search: '$!{search}',
            pageNum: '$!{data.data.pageNum}',
            total: '$!{data.data.total}',
            hotelid: '$!{hotelid}',
            isbreakfast:'$!{isbreakfast}',
            ismarketable:'$!{ismarketable}'
        };
    </script>
    <script src="/js/jq.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/layer.min.js"></script>
    ##this
    <script src="/js/all.js"></script>
    <script src="/js/hotelRoom.js"></script>
</body>

</html>
