<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>高遠文旅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="body">
    <main class="page-index bb h1 pt10">
        #parse("./common/nav.vm")
        <!-- 公司信息 -->
        <section class="company-wrap">
            <a class="company" href="/"></a>
        </section>
        <div class="con-wrap pt10 pl10 pr10 bb">
            <!-- 酒店预订 -->
            <section class="bb pb10">
                <a class="reserve" href="/hotelType"></a>
            </section>
            <!-- 酒店商城 -->
            <section class="bb pb10">
                <a class="mall" href="http://gaoyuan.treemee.cn:81/tmwxmall/index/shopping_mall/0"></a>
            </section>
        </div>
    </main>
</body>

</html>
