<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/user.css" />
</head>

<body id="body">
    <main>
        #parse("./common/nav.vm")
        <section id="userInfo" class="user-info c pr">
            <figure class="user-header w80 h80 ml15 mb20 pr z1">
                <img class="db bc pr r4" src="$!{headimg}" alt="头像" />
            </figure>
            <div class="name-mark w1 h80 pa l0 bb">
                <h3 class="name mt10 fs16">$!{username}</h3>
                <dl class="point fcm pa z2 r4 pl5 pr5" data-href="/user/point">
                    <dt class="dlb vab">积分：</dt>
                    <dd class="dlb vab">$!{point}</dd>
                </dl>
            </div>
        </section>
        <div>
            <nav id="nav" class="navtype fs0 tac bcf fcf">
                <!-- 选中为active -->
                <a data-id="unpay" data-type="10">待确认<span></span></a>
                <a data-id="paied" data-type="50">待入住<span></span></a>
                <a data-id="done" data-type="90">已完成<span></span></a>
            </nav>
            <section id="conWrap">
                <div id="unpay" class="each-item pb20 none">
                    <ul class="data-wrap un-pay pl10 ofh pr10">
                        <span class="loading db pt20 tac">加载待付款数据…</span>
                    </ul>
                </div>
                <div id="paied" class="each-item pb20 none">
                    <ul class="data-wrap un-pay pl10 ofh pr10">
                        <span class="loading db pt20 tac">加载待入住数据…</span>
                    </ul>
                </div>
                <div id="done" class="each-item pb20 none">
                    <ul class="data-wrap un-pay pl10 ofh pr10">
                        <span class="loading db pt20 tac">加载已完成数据…</span>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <template id="unpay-tp" class="none">
        <li data-hotelname="${hotelname}" data-roomname="${roomname}" data-indate="${indate}" data-outdate="${outdate}" data-roomordersn="${roomordersn}" data-totalprice="${totalprice}">
            <div class="order-num pl10 pr10 pb10 c">
                <span>订单编号：</span>
                ${roomordersn}
                <!-- <i class="fr w20 h20"></i> -->
            </div>
            <figure class="order-con c">
                <img class="w80 h80 pr15 fl" src="${tempImagepath}" />
                <ul class="dlb vat h80 fcm fl">
                    <li class="fs16">${brandname} <b>·</b> ${hotelname}</li>
                    <li>${roomname}</li>
                </ul>
            </figure>
            <div class="order-pay pl10 pr10 c">
                <span>待确认</span>
                <span class="fr">共计${betweendays}天 总价：<b class="fcm">${totalprice}</b></span>
            </div>
        </li>
    </template>
    <template id="paied-tp" class="none">
        <li data-roomorderid="${roomorderid}">
            <div class="order-num pl10 pr10 pb10 c">
                <span>订单编号：</span>
                ${roomordersn}
                <!-- <i class="fr w20 h20"></i> -->
            </div>
            <figure class="order-con c">
                <img class="w80 h80 pr15 fl" src="${tempImagepath}" />
                <ul class="dlb vat h80 fcm fl">
                    <li class="fs16">${brandname} <b>·</b> ${hotelname}</li>
                    <li>${roomname}</li>
                </ul>
            </figure>
            <div class="order-pay pl10 pr10 c">
                <span>待入住</span>
                <span class="fr">共计${betweendays}天 总价：<b class="fcm">${totalprice}</b></span>
            </div>
            ##<button type="button" class="order-refund order-btn w1 db bct fcm refundstatus-${refundstatus}"></button>
        </li>
    </template>
    <template id="done-tp" class="none">
        <li>
            <div class="order-num pl10 pr10 pb10 c">
                <span>订单编号：</span>
                ${roomordersn}
                <!-- <i class="fr w20 h20"></i> -->
            </div>
            <figure class="order-con c">
                <img class="w80 h80 pr15 fl" src="${tempImagepath}" />
                <ul class="dlb vat h80 fcm fl">
                    <li class="fs16">${brandname} <b>·</b> ${hotelname}</li>
                    <li>${roomname}</li>
                </ul>
            </figure>
            <div class="order-pay pl10 pr10 c">
                <span>已完成</span>
                <span class="fr">共计${betweendays}天 总价：<b class="fcm">${totalprice}</b></span>
            </div>
        </li>
    </template>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/layer.js"></script>
    <!-- ip -->
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/js/user.js"></script>
</body>

</html>
