@charset 'utf-8';
html,
body {
    height: 100%;
}

.login-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding: 40px 50px 40px 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6px #ccc;
}

.login-wrap label span {
    line-height: 28px;
    height: 28px;
    margin-right: 10px;
}

.login-wrap input {
    width: 200px;
    height: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-wrap {
    padding-left: 110px;
}

.login {
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    background-color: #bdb099;
}

.error {
    line-height: 30px;
    max-width: 140px;
    color: #f66;
}
