<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>酒店列表</title>
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- basic -->
    <link rel="stylesheet" href="/css/base.css" />
    <!-- this -->
    <link rel="stylesheet" href="/css/all.css" />
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body id="body">
    <!-- 头部 -->
    #parse("./common/header.vm")
    <main class="main bb pr page_hotel">
        #parse("./common/aside.vm")
        <section id="allWrap" class="all-wrap">
            <!-- 导航栏 -->
            <div class="con-nav i-lh30 i-bcm h30 p10 mb20 c">
                <nav class="fl">
                    <a>酒店管理</a>
                    <a href="/hotel">酒店列表</a>
                </nav>
                <div class="fr c">
                    <!-- 第一个不需要 class ml20 -->
                    <label class="nav-search fl">
                        <input class="search-list i-input i-b1m fl" type="text" placeholder="名称、电话、全部地址" value="$!{search}" />
                        <button class="hotel-search-btn i-button fl" type="botton">搜索</button>
                    </label>
                    <a href="/hotel/add" class="i-button i-b-mw fl ml20">新增酒店</a>
                </div>
            </div>
            <!-- 搜索区域 -->
            <div class="mb20 c">
                <select class="brand-list i-select fl mr10">
                    <option>选择品牌</option>
                </select>
            </div>
            <!-- 结果展示区域 table -->
            <table class="i-table mb20 w1">
                <thead>
                    <tr>
                        <th>酒店品牌</th>
                        <th>酒店名称</th>
                        <th>酒店序列号</th>
                        <th>酒店图片</th>
                        <th>地址</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    #if ($msg == '获取数据正常')
                        #foreach ($item in $data.data.list)
                        <tr data-id="${item.id}" data-name="${item.name}">
                            <td>$!{item.hotelbrandname}</td>
                            <td>$!{item.name}</td>
                            <td>$!{item.hotelsn}</td>
                            <td><img src="$!{item.imagepath}" alt="酒店图片" /></td>
                            <td>
                                $!{item.country}-$!{item.province}-$!{item.city}-#if ($item.district != '')$!{item.district}-#end$!{item.address}
                            </td>
                            <td>$!{item.createdate}</td>
                            <td>
                                <span class="hotel-del i-button-m dlb mr20 cp">删除</span>
                                <a class="dlb i-button-m" href="/hotel/get/$!{item.id}">编辑</a>
                            </td>
                        </tr>
                        #end
                    #else
                    <tr>
                        <td colspan="7">${msg}</td>
                    </tr>
                    #end
                </tbody>
            </table>
            <!-- 分页 paging -->
            <section class="paging"></section>
    </main>
    <!-- script -->
    <script>
        var RenderData = {
            search: '$!{search}',
            hotelbrandid: '$!{hotelbrandid}',
            pageNum: '$!{data.data.pageNum}',
            total: '$!{data.data.total}'
        };
    </script>
    <script src="/js/jq.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/layer.min.js"></script>
    <!-- this -->
    <script src="/js/all.js"></script>
    <script src="/js/hotel.js"></script>
</body>

</html>