<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    #if ($data)
    <title>编辑酒店</title>
    #else
    <title>新增酒店</title>
    #end
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- basic -->
    <link rel="stylesheet" href="/css/base.css" />
    <!-- this -->
    <link rel="stylesheet" href="/css/all.css" />
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
    <style>
        .hotel-img figure {
            height: 50px;
            width: 50px;
        }
        .hotel-img figure img {
            height: 100%;
        }
        .move-img-wrap figure {
            width: auto;
            height: 90px;
        }
        .move-img-wrap figure img {
            width: auto;
            height: 100%;
        }
    </style>
</head>

<body id="body">
    <!-- 头部 -->
    #parse("./common/header.vm")
    <main id="main" class="main bb pr page_hotel">
        #parse("./common/aside.vm")
        <section id="allWrap" class="all-wrap">
            <!-- 导航栏 -->
            <div class="con-nav i-lh30 i-bcm p10 mb20 c">
                <nav class="fl">
                    <a>酒店管理</a>
                    #if ($data)
                    <a>编辑酒店</a>
                    #else
                    <a href="/hotel/add">新增酒店</a>
                    #end
                </nav>
            </div>
            <form class="form" autocomplete="off">
                <table class="con-show w1">
                    <tbody>
                        #if ($data)
                        <input class="edit-id" name="id" type="hidden" value="$!{data.data.id}" />
                        #end
                        <tr>
                            <td>酒店品牌 *</td>
                            <td>
                                <select class="brand-list ipt-item i-select i-w-long mr10" data-need="true" data-tit="酒店品牌" data-name="hotelbrandid">
                                    <option value="">品牌</option>
                                </select>
                            </td>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>酒店名称 *</td>
                            <td>
                                <input class="ipt-item i-input i-w-long" data-tit="酒店名称" data-need="true" data-name="name" type="text" placeholder="酒店名称" value="$!{data.data.name}" />
                            </td>
                            <td>&emsp;</td>
                        </tr>
                        <tr class="goods-img hotel-img">
                            <td>酒店图片 *</td>
                            <td id="thumbnailWrap" colspan="2">
                                #if ($data)
                                <figure>
                                    <img src="$!{data.data.tempImagepath}" />
                                    <span class="img-del thumbnail-img-del">×</span>
                                </figure>
                                <label class="add-img hide-this" data-num="1">
                                #else
                                <label class="add-img" data-num="1">
                                #end
                                    <input class="img-file-thumbnail none" type="file" name="inputFile" />
                                </label>
                            </td>
                        </tr>
                        <tr class="goods-img move-img-wrap">
                            <td>轮播图 *</td>
                            <td id="standardWrap" colspan="2">
                                #if ($data)
                                    #foreach ($item in $data.data.carouselPath)
                                    <figure class="move-img" title="交换图片位置" draggable="true">
                                        <img src="$!{item}" draggable="false" />
                                        <span class="img-del standard-img-del">×</span>
                                    </figure>
                                    #end
                                #end
                                <label class="add-img" data-num="infinity">
                                    <input class="img-file-standard none" type="file" name="inputFile" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>星级</td>
                            <td class="tac c">
                                <span class="num-sub num-control db w20 cp fl" data-num="-0.5" daata-min="0">-</span>
                                <input class="star-ipt ipt-item i-input fl" data-name="star" type="text" readonly="readonly" placeholder="非负小数0.5一跳" value="$!{data.data.star}" />
                                <span class="num-add num-control db w20 cp fl" data-num="0.5" data-max="5">+</span>
                            </td>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>酒店电话</td>
                            <td>
                                <input class="ipt-item only-num i-input i-w-long" data-tit="酒店电话" data-need="true" data-name="phone" type="tel" placeholder="酒店电话（11位数字）" maxlength="11" value="$!{data.data.phone}" />
                            </td>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>酒店地址</td>
                            <td colspan="2">
                                <input class="ipt-item" type="hidden" data-name="country" value="中国" />
                                <select class="ipt-item province i-select mr10 mb10" data-name="province" data-tit="省份" data-need="true">
                                    #if ($data)
                                    <option value="$!{data.data.province}">$!{data.data.province}</option>
                                    #else
                                    <option data-pid="null" value="null">选择省份</option>
                                    #end
                                </select>-&nbsp;
                                <select class="ipt-item city i-select mr10" data-name="city" data-tit="市" data-need="true">
                                    #if ($data)
                                    <option value="$!{data.data.city}">$!{data.data.city}</option>
                                    #else
                                    <option value="null">选择市</option>
                                    #end
                                </select>-&nbsp;
                                <select class="ipt-item area i-select mr10" data-name="district">
                                    #if ($data)
                                    <option value="$!{data.data.district}">$!{data.data.district}</option>
                                    #else
                                    <option value="">选择区</option>
                                    #end
                                </select>-&nbsp;
                                <input class="ipt-item i-input w300" type="text" placeholder="详细地址" value="$!{data.data.address}" data-name="address" data-tit="详细地址" data-need="true" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="con-operation tac pt20 mb30">
                    #if ($data)
                    <button type="button" class="submit-form type-edit i-button i-b-mw">保存</button>
                    #else
                    <button type="button" class="submit-form i-button i-b-mw">保存</button>
                    #end
                </div>
            </form>
        </section>
    </main>
    <script>
        var RenderData = {
            hotelId: '$!{data.data.hotelbrandid}',
            imgData: '$!{data.data.imagepath}'
        };
    </script>
    <!-- script -->
    <script src="/js/jq.js"></script>
    <script src="/js/public.js"></script>
    <!-- 下面4个js是图片异步上传插件（加载顺序不要乱） -->
    <script src="/js/checkFileTypeAndSize.js"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <script src="/js/fileUpload.js"></script>
    <script src="/js/layer.min.js"></script>
    <script src="/js/migrate.js"></script>
    <!-- this -->
    <script src="/js/all.js"></script>
    <script src="/js/hotelAddEdit.js"></script>
</body>

</html>
