<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>购物车-我的菜</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/car.css" />
</head>

<body class="bc-light">
    <ul id="shopWrap" class="shop-wrap pl5 pr5 h1 bb">
        #if ($status)
        #foreach ($shop in $data.shops)
        <li class="js-shop-item shop-item bcf r4 ofh mt10 #if (!$shop.shopisopen)active#end" data-id="$!{shop.shopid}" data-dintypename="$!{shop.diningtypename}">
            <section class="shop-tit tar mb10 pr">
                <div class="shop-name tal pa">
                    <h3 class="fc-impor-one to">$shop.shopname</h3>
                    <div class="fs12">
                        <span class="c-impor-two mr5">$shop.diningtypezhname</span>
                        <dl class="fc-sub dlb">
                            <dt class="dlb">配送费</dt>
                            <dd class="price dlb fc-number fs14">$shop.freight</dd>
                        </dl>
                    </div>
                </div>
                <span class="shop-status r4 fcf bc-vice none vam">家厨休息咯！</span>
                <i class="js-del i-del vam mt5 mb5"></i>
            </section>
            <ul>
                #foreach ($food in $shop.foods)
                <li class="js-food-item food-item border-t pem pr #if (!$food.ismarketable)active#end" data-id="$!{food.foodid}">
                    <figure class="js-go-food food-img pr r4" style="background: url(${food.imagepath}) 50% 50% / cover no-repeat;"></figure>
                    <div class="food-con pa">
                        <div>
                            <h3 class="js-go-food fc-impor-one to">$!{food.foodname}</h3>
                            <dl class="fc-sub">
                                <dt class="dlb">月销量</dt>
                                <dd class="dlb">$!{food.foodsales}</dd>
                            </dl>
                        </div>
                        <div class="js-add-car add-car c #if ($food.foodcount != 0)active#end">
                            <span class="mt5 price fl fc-number fs16">$!{food.foodprice}</span>
                            <div class="dlb fr"><span class="add-animate dlb"><i class="js-car-opt i-sub vam" data-type="minus"></i><span class="js-car-num car-num dlb tac fs16 vam ml5 mr5 fc-impor-two">$!{food.foodcount}</span></span><i class="js-car-opt i-up vam" data-type="add"></i></div>
                        </div>
                    </div>
                </li>
                #end
            </ul>
        </li>
        #end
        #else
        <li class="fc-light top-50 top-middle">
            <figure class="tac fs12">
                <img class="w80 mb5 bc" src="/img/car-none.png" />
                #if ($isempty)
                <p>购物车都饿晕了，快去点餐吧*^_^*</p>
                <button class="js-go-index btn-one bc-main fcf db mt10 r4 bc">去点餐</button>
                #else
                <p>$!{msg}*^_^*</p>
                #end
            </figure>
        </li>
        #end
    </ul>
    #if ($status)
    <footer id="footer" class="footer pf w1 l0 b0 c #if ($isempty)active#end">
        <dl class="footer-con pa t0 l0 b0 tac">
            <dt class="dlb mr5 fc-impor-two">应付金额</dt>
            <dd class="js-price dlb fs16 price fc-number">$!{carPrice}</dd>
        </dl>
        <button class="js-statement statement h1 fr dlb">去结算</button>
    </footer>
    ## 没有数据模板
    <template id="tpNoData">
        <li class="fc-light top-50 top-middle">
            <figure class="tac fs12">
                <img class="w80 mb5 bc" src="/img/car-none.png" />
                <p>购物车都饿晕了，快去点餐吧*^_^*</p>
                <button class="js-go-index btn-one bc-main fcf db mt10 r4 bc">去点餐</button>
            </figure>
        </li>
    </template>
    #end
    <script>
    var G = {
        userId: '$!{userId}',
        device: '$!{device}'
    };
    </script>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/car.js"></script>
</body>

</html>
