<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>订单支付-我的菜</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/pay.css" />
</head>

<body class="bc-light">
    <main id="main" class="p10 fc-impor-two">
        <dl class="bcf r4 p10">
            <dt class="fc-impor-one">收餐人详情</dt>
            <dd>$!{data.recipientname}
                <br />$!{data.recipientcontact}
                <br />$!{data.recipientaddress}</dd>
        </dl>
        <section class="bcf r4 mt10">
            #if ($data.cashdelivery != '0.00')
            <dl class="p10">
                <dt class="dlb vam fc-impor-one mr10">货到付款</dt>
                <dd class="dlb price fc-number vam fs16">$!{data.cashdelivery}</dd>
            </dl>
            #end
            #if ($data.onlinepayment != '0.00')
            <dl class="#if ($data.cashdelivery != '0.00')b-t#end p10 c">
                <dt class="dlb fc-impor-one mr10">在线支付</dt>
                <dd class="dlb price fc-number fs16">$!{data.onlinepayment}</dd>
                <div class="js-open-dis fr fc-sub dlb">
                    #if ($data.coupons.length > 0)
                    <span class="js-dis-info dlb vam mr10">您有$!{data.coupons.length}张优惠券</span>
                    <i class="i-arrow-down vam"></i>
                    #else
                    没有可用优惠券
                    #end
                </div>
            </dl>
            #end
        </section>
    </main>
    <footer id="footer" class="footer pf b0 w1 l0 pl10 pr10 bb">
        ## 支付按钮
        #if ($data.onlinepayment == '0.00')
        <div class="js-pay-cash pay-btn tac fcf bc-main r4">确认</div>
        #else
        <div class="js-pay pay-btn tac fcf bc-main r4">支付宝支付<span class="js-user-pay ml10 price fs16">$!{data.onlinepayment}</span></div>
        #end
    </footer>
    #if ($data.coupons.length)
    <div id="mask" class="mask pf t0 l0 w1 h1 none">
        <ul class="discount-wrap bcf r4 pa p10">
            #foreach ($discount in $data.coupons)
            <li class="dis-each mb10 pr c" data-full="$!{discount.minamount}" data-dis="$!{discount.price}" data-id="$!{discount.id}">
                <i class="i-checked pa"></i>
                <div class="dis-full top-50 top-middle fl fcf">
                    满$!{discount.minamount}
                    <span class="fwb fs16">可用</span>
                    <div class="fc-number fs14">有效期至$!{discount.expiretime}</div>
                </div>
                <div class="tac fr top-50 top-middle pr10">
                    <span class="discount r50 dlb fc-number">$!{discount.price}</span>
                    <span class="db fcf fs12">www.wode299.com</span>
                </div>
            </li>
            #end
        </ul>
    </div>
    #end
    <script>
    var G = {
        payMoney: '$!{data.onlinepayment}',
        orderSn: '$!{data.ordersn}',
        orderId: '$!{data.orderid}',
        device: '$!{data.device}',
        expectedTime: '$!{data.expectedtime}'
    };
    </script>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/pay.js"></script>
</body>

</html>
