@charset 'utf-8';

/**
 * Created by hangyangws(hangyangws@foxmail.com) in 2016-07-04.
 */


/*public*/

.border-b {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ddd;
}

.btn-shadow {
    box-shadow: 0 1px rgba(4, 48, 34, .45);
}

.order-fs14 {
    font-size: 14px !important;
}

.mb-12 {
    margin-bottom: 12px;
}


/*订单基本信息*/

.base-info dl {
    padding-right: 10px;
    padding-left: 10px;
}

.base-info dt,
.contact dt,
.message dt {
    width: 64px;
    text-align: left;
}

.base-info dt,
.base-info dd,
.contact dt,
.contact dd,
.message dt,
.message dd {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.order-addr {
    padding-top: 1px;
}

.order-addr dd,
.message dd {
    padding-left: 64px;
}

/*联系人信息*/

.contact {
    padding: 6px 10px;
    line-height: 2.2em;
}

.contact dl {
    line-height: 34px;
    height: 26px;
 }

/*菜单内容*/
.food-list {
    line-height: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-tit {
    padding: 4px 10px;
    border-bottom: 1px dashed #ddd;
}

.list-con::before {
    content: '';
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
}

.list-item {
    max-width: 20%;
    padding-bottom: 2px;
    border-bottom: 1px dashed #ddd;
}

.img-wrap {
    border: 1px solid #e2e2e2;
}

.list-item:nth-child(4n) {
    padding-right: 10px !important;
}

.list-item:nth-child(4n + 1) {
    padding-left: 10px !important;
}

.img-wrap img {
    max-height: 100%;
    max-width: 100%;
}

/*message*/

.message {
    margin-bottom: 47px;
}

/*footer-btn*/

.footer-btn {
    line-height: 2.2em;
    border-top: 1px solid #ddd;
}

.btn-one {
    margin-right: 18%;
}