@charset 'utf-8';

/*订单操作按钮样式*/

.room-rule[data-status='30'] {
    background-color: #32AD9A;
}

.room-rule[data-status='50'] {
    background-color: #3F88D0;
}

.room-rule[data-status='60'] {
    background-color: #E65757;
}

.room-rule[data-status='90'] {
    cursor: default;
    color: #bdb099;
    background-color: #fff;
}


/*房间规则*/

.rule-wrap {
    top: 50%;
    overflow: auto;
    width: 820px;
    max-height: 80%;
    padding: 30px;
    padding-bottom: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-rule {
    line-height: 20px;
    padding: 4px 6px;
}

.close-rule:hover {
    color: #bdb099;
}

.rule-name {
    line-height: 30px;
}

.add-rule::before {
    content: '新增';
}

.add-rule.disabled::before {
    content: '取消';
}

.paging {
    padding-top: 20px;
}

.paging a[data-p] {
    cursor: pointer;
}

/*会员价格*/

.member-rank-wrap .price-delete {
    display: none;
}

.member-rank-wrap tr[data-id] .price-delete {
    display: inline-block;
}
