<aside class="asise bcf pf h1 l0 lh200 fs16 bb z1">
    <ul id="mainNav" class="main-nav mt20">
        ##li 加上 active 展开
        ##首页
        <li class="page_index"><a href="/">首页</a></li>
        ##品牌管理
        <li class="page_brand sub-nav pr active">
            <span class="nav-dir">
                <a>品牌管理</a>
                <i class="ts4"></i>
            </span>
            <ul class="none fs14 ti1">
                <li><a href="/hotelType">品牌列表</a></li>
                <li><a href="/hotelType/add">新增品牌</a></li>
            </ul>
        </li>
        ##酒店管理
        <li class="page_hotel sub-nav pr active">
            <span class="nav-dir">
                <a>酒店管理</a>
                <i class="ts4"></i>
            </span>
            <ul class="none fs14 ti1">
                <li><a href="/hotel">酒店列表</a></li>
                <li><a href="/hotel/add">新增酒店</a></li>
            </ul>
        </li>
        ##房间管理
        <li class="page_room sub-nav pr active">
            <span class="nav-dir">
                <a>房间管理</a>
                <i class="ts4"></i>
            </span>
            <ul class="none fs14 ti1">
                <li><a href="/hotelRoom">房间列表</a></li>
                <li><a href="/hotelRoom/add">新增房间</a></li>
            </ul>
        </li>
        ##会员管理
        <li class="page_member sub-nav pr active">
            <span class="nav-dir">
                <a>会员管理</a>
                <i class="ts4"></i>
            </span>
            <ul class="none fs14 ti1">
                <li><a href="/hotelMember">会员列表</a></li>
                <li><a href="/hotelMemberrank">会员等级</a></li>
                <li><a href="/hotelMemberrank/add">新增等级</a></li>
            </ul>
        </li>
        ##订单账目
        <li class="page_order sub-nav pr active">
            <span class="nav-dir">
                <a>订单管理</a>
                <i class="ts4"></i>
            </span>
            <ul class="none fs14 ti1">
                <li><a href="/roomOrder">订单列表</a></li>
                <li><a href="/refundOrder/list">退款列表</a></li>
            </ul>
        </li>
    </ul>
</aside>