@charset 'utf-8';
.main {
    padding: 0 10px 10px 10px;
}


/*品牌选择*/

.brand {
    padding-top: 50px;
}

.brand-img {
    position: relative;
    overflow: hidden;
    min-height: 111px;
    margin-top: 14px;
    opacity: .6;
}

.brand-img::before {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: -10%;
    display: block;
    width: 120%;
    height: 120%;
    content: '';
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    opacity: .36;
    background-color: #a9976d;
}

.brand-img.active::before {
    opacity: 0;
}

.brand-img.active {
    opacity: 1;
}

.brand-img img {
    display: block;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.brand-img.active img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.brand-tit {
    line-height: 16px;
    padding: 14px;
    color: #a9976d;
}

.brand-tit dd {
    padding: 0 6px;
    border: 1px solid #a9976d;
}


/*地点和时间*/

.site-time {
    height: 115px;
}

.s-t-left {
    margin-right: 80px;
    background-color: #e6e0d4;
}

.s-t-left dl {
    line-height: 20px;
    padding: 9.16px 10px 9.16px 14px;
}

.s-t-left dl dt,
.s-t-left dl dd {
    float: left;
}

.s-t-left dl dt {
    margin-right: 10px;
    color: #998045;
}

.s-t-left dl i {
    float: right;
    width: 20px;
    height: 20px;
    background: url(/img/icon/i-arrow.png) no-repeat center center;
    background-size: cover;
}

.s-t-right {
    width: 70px;
}

.location {
    padding-bottom: 5px;
    background-color: #e6e0d4;
}

.location i {
    display: block;
    width: 70px;
    height: 40px;
    background: url(/img/icon/location.png) no-repeat center center;
}

.all-time {
    line-height: 40px;
    display: block;
    background-color: #e6e0d4;
}


/*搜索按钮*/

.submit-search {
    line-height: 36px;
    letter-spacing: 2px;
    background-color: #a9976d;
}


/*选这城市*/

.city-wrap {
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
}

.city-wrap section {
    width: 273px;
    height: 415px;
}

.city-wrap div {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 33px;
}

.city-wrap li {
    padding: 0 6px;
}

.city-wrap i {
    font-style: normal;
}

.city-list {
    line-height: 34px;
    letter-spacing: 1px;
    border-top: 1px solid #eee;
}

.city-tit {
    font-size: 12px;
    line-height: 17px;
    background-color: #efefef;
}

.close-city {
    line-height: 30px;
    letter-spacing: 2px;
    color: #a9976d;
}
