@charset 'utf-8';
.hotel-wrap {
    padding-top: 64px;
}

.hotel-wrap > a {
    display: block;
    padding: 14px 6px;
    border-top: 1px solid #e6e0d4;
}

.no-hotel {
    letter-spacing: 1px;
}

.hotel-list:first-child {
    border-top: 1px solid #a9976d;
}

.hotel-list img {
    top: 14px;
    left: 6px;
    width: 70px;
    height: 70px;
}

.detail {
    padding-left: 80px;
}

.detail h2 {
    line-height: 20px;
    width: 216px;
}

.detail .type {
    line-height: 16px;
    padding: 0 6px;
    color: #a9976d;
    border: 1px solid #a9976d;
}

.star {
    margin-top: 7px;
}

.star li {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.star li:last-child {
    margin-right: 0;
}

.star li {
    background: url(/img/icon/fullstar.png) no-repeat center center;
    background-size: cover;
}

.star li.unfull {
    background-image: url(/img/icon/unfullstar.png);
}

.price {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #a9976d;
}

.price::before {
    font-size: 14px;
    display: inline-block;
    content: '￥';
    vertical-align: top;
}

.price::after {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    content: '起';
    vertical-align: top;
}

.addr {
    line-height: 20px;
}
