<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>支付</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
</head>

<body id="body">
    <h4 class="mt30 pt30 fc9 tac">微信支付</h4>
    <script>
        var payArgs = JSON.parse('$!{payargs}'),
            callbackurl = '$!{callbackurl}';
    </script>
    <script src="/js/layer.js"></script>
    <script src="/js/mallPay.js"></script>
</body>

</html>
