<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body class="pr">
    #if($!haspassword == true)
    <h2 class="title tac mt30 w1 pa t0 l0 fc9 pb15">$!{username}，你好，请输入密码</h2>
    #else
    <h2 class="title tac mt30 w1 pa t0 l0 fc9 pb15">$!{username}，你好，请设置密码</h2>
    #end
    <form id="form" class="form fs0 bc pr">
        #if($!haspassword == true)
        <label class="label db">
            <span>输入密码：</span>
            <input class="password r4 fs14 pl15 pr15 bb" type="password" />
        </label>
        #else
        <label class="label db">
            <span>设置密码：</span>
            <input class="password r4 fs14 pl15 pr15 bb" type="password" placeholder="6-20位数字或字母组成" />
        </label>
        <label class="label db">
            <span>确认密码：</span>
            <input class="re-password r4 fs14 pl15 pr15 bb" type="password" placeholder="确认密码" />
        </label>
        #end
        #if($!haspassword == true)
        <button type="button" class="enter-password form-btn fs14 pl15 pr15 fcf r4">确定</button>
        #else
        <button type="button" class="set-password form-btn fs14 pl15 pr15 fcf r4">确定</button>
        #end
    </form>
    <script>
        var G = {
            callBackUrl: '$!{callbackurl}',
            payurl: '$!{payurl}',
            callBackUrlAll: '$!{callbackurl}?userUrl=$!{userurl}&memberName=$!{userid}&nickname=$!{username}&headimgurl=$!{headimg}',
            requrl: '$!{requrl}'
        };
    </script>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/layer.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>
