<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>优惠券-我的菜</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/coupon.css" />
</head>

<body class="body bc-light">
    <nav id="nav" class="nav bcf tac fs0 c fc-impor-one">
        ## 激活加上 nav-active
        <a data-type="1">全部</a>
        <a data-type="2">未使用</a>
        <a data-type="3">已使用</a>
        <a data-type="4">已过期</a>
    </nav>
    <main id="main" class="main pa fs0">
        ## 全部
        <ul class="js-list-wrap js-list-wrap-1 p10 bb fs14 dlb"></ul>
        ## 未使用
        <ul class="js-list-wrap js-list-wrap-2 p10 bb fs14 dlb"></ul>
        ## 已使用
        <ul class="js-list-wrap js-list-wrap-3 p10 bb fs14 dlb"></ul>
        ## 已过期
        <ul class="js-list-wrap js-list-wrap-4 p10 bb fs14 dlb"></ul>
    </main>
    <template id="tpDiscount">
        <li class="dis-each mb10 c">
            <div class="dis-full top-50 top-middle fl fcf">
                满${full}<span class="fwb fs16">可用</span>
                <div class="fc-number fs14">有效期至${expiryDate}</div>
            </div>
            <div class="tac fr top-50 top-middle pr10">
                <span class="discount r50 dlb fc-number">${discount}</span>
                <span class="db fcf fs12">www.wode299.com</span>
            </div>
        </li>
    </template>
    <script>
    var G = {
        userId: '$!{userId}',
        type: '$!{type}'
    };
    </script>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/coupon.js"></script>
</body>

</html>
