<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/orderDetail.css" />
</head>

<body class="bc-light fc-impor-two ">
    <main class="p10">
        ## 订单基本信息
        <div class="base-info pt10 pb10 fs0 bcf r4 mb-12">
            <dl>
                <dt>订单编号：</dt>
                <dd>$!{orderDetail.orderNum}</dd>
            </dl>
            <dl class="border-b tar">
                <dt class="fl">下单时间：</dt>
                <dd class="fl wp-nowrap">$!{orderDetail.orderTime}</dd>
                <dt>预达时间：</dt>
                <dd class="fc-number order-fs14">$!{orderDetail.arriveTime}</dd>
            </dl>
            <dl class="tar">
                <dt class="fl">就餐方式：</dt>
                <dd class="fl fc-impor-one">$!{orderDetail.diningMode}</dd>
                <dt>配送金额：</dt>
                <dd class="order-fs14 fc-impor-one price">$!{orderDetail.distriAmount}</dd>
            </dl>
            #if($orderDetail.addr)
            <dl class="order-addr border-b pr">
                <dt class="pa">配送地址：</dt>
                <dd>$!{orderDetail.addr}</dd>
            </dl>
            #end
            <dl>
                <dt>总金额：</dt>
                <dd class="fc-number order-fs14 price">$!{orderDetail.allAmount}</dd>
            </dl>
        </div>
        ## 联系人信息
        <div id="contact" class="contact bcf r4 fs12 mb-12 c">
            <dl class="dlb fs0 vam">
                <dt>取餐人：</dt>
                <dd>林女士</dd>
            </dl>
            <span class="js-contact-tel btn-shadow tac r4 w80 fr bc-main fcf dlb" data-tel="$!{orderDetail.tel}">联系方式</span>
        </div>
        ## 菜单内容
        <div class="food-list fs0 bcf r4 ofh mb-12">
            <h3 class="list-tit fs12">菜单内容</h3>
            <ul class="list-con fs0 pr" id="listCon">
                #foreach ($food in $orderDetail.food)
                <li class="list-item tac fs12 dlb pt5">
                    <figure class="img-wrap pr w1 bb r4">
                        <img class="middle" src="$!{food.image}" />
                    </figure>
                    <span class="fc-impor-one mt5 w1 db to">$!{food.name}</span>
                    <span>×$!{food.num}</span>
                    <span class="price db">$!{food.price}</span>
                </li>
                #end
            </ul>
        </div>
        ## 客户留言
        <dl class="message bcf r4 fs0 p10 pr">
            <dt class="pa">客户留言:</dt>
            <dd class="fc-impor-one">$!{msg}</dd>
        </dl>
    </main>
    ## 操作区域
    <footer id="footerBtn" class="footer-btn pf b0 w1 l0 bcf pt10 pb10 tac fs12 fcf">
        #if($orderType == 1)
        ## 未处理
        <button class="js-order-opt btn-shadow btn-one bc-main r4 w80" data-type="refuse">拒绝接单</button>
        <button class="js-order-opt btn-shadow bc-main r4 w80" data-type="accept">立即接单</button>
        #elseif($orderType == 2)
        ## 处理中
        <button class="js-order-opt bc-main w80  mr20 fr r4 btn-shadow" data-type="sure">确认完成</button>
        #elseif($orderType == 3)
        ## 已处理
        <button class="bc-main-sub w80  mr20 fr r4 btn-shadow">已完成</button>
        #end
    </footer>
    <template id="orderAccept">
        <button class="js-order-opt bc-main w80  mr20 fr r4 btn-shadow" data-type="sure">确认完成</button>
    </template>
    <template id="orderRefuse">
        <button class="bc-main-sub w80  mr20 fr r4 btn-shadow">已完成</button>
    </template>
    <script>
    var G = {
        device: '$!{device}',
        orderId: '$!{orderId}'
    };
    </script>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/orderDetail.js"></script>
</body>

</html>
