<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>订单列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/orderList.css" />
</head>

<body class="bc-light">
    <ul class="order-wrap fs0 fc-impor-two h1 p10 bb" id="orderWrap"></ul>
    <template id="tpOrderList">
        <li class="order-item bcf r4 pt10 ofh" data-id="${orderid}">
            <div class="order-detail">
                <dl>
                    <dt>订单编号：</dt>
                    <dd>${ordersn}</dd>
                </dl>
                <dl class="border-b tar">
                    <dt class="fl">下单时间：</dt>
                    <dd class="fl wp-nowrap">${createtime}</dd>
                    <dt>预达时间：</dt>
                    <dd class="fc-number order-fs14">${expectdeliverytime}</dd>
                </dl>
                <dl class="tar">
                    <dt class="fl">就餐方式：</dt>
                    <dd class="fl fc-impor-one">${diningtypename}</dd>
                    <dt>配送金额：</dt>
                    <dd class="order-fs14 fc-impor-one price">${freight}</dd>
                </dl>
                <dl class="order-addr border-b pr">
                    <dt class="pa">配送地址：</dt>
                    <dd>${orderaddress}</dd>
                </dl>
                <dl>
                    <dt>总金额：</dt>
                    <dd class="fc-number order-fs14 price">${paymentamount}</dd>
                </dl>
            </div>
            <footer class="order-btn fs12 tar pr10 pt10 fcf">${orderstatus}</footer>
        </li>
    </template>
    ## 订单状态按钮模板字符串
    <div class="none" id="tpStatusBtn">
        <div class="js-CUSTCONFIRMCASH js-CUSTPAY">
            ## 关闭决绝接单功能 <button class="js-order-opt bc-main" data-type="refuse">拒绝接单</button>
            <button class="js-order-opt bc-main" data-type="take">立即接单</button>
        </div>
        <div class="js-SHOPTAKE">
            <button class="js-order-opt bc-main" data-type="finish">确认完成</button>
        </div>
        <div class="js-SHOPFINISH">
            <button class="bc-main-sub">已完成</button>
        </div>
        <div class="js-SHOPREFUSE">
            <button class="bc-main-sub">已拒绝</button>
        </div>
    </div>
    ## 订单无数据模板字符串
    <template id="tpNoData">
        <li class="error-item fc-light top-50 top-middle">
            <figure class="tac fs12">
                <img class="w100 mb5 bc" src="/img/order-none.png" />
                <span>${msg}~<br />*^_^*</span>
            </figure>
        </li>
    </template>
    <script>
    var G = {
        device: '$!{device}',
        orderType: '$!{orderType}',
        shopId: '$!{shopId}'
    };
    Object.freeze(G);
    </script>
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/orderList.js"></script>
</body>

</html>
