/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}

.h-50 {
    height: 50%;
}


/*body*/

.body-login {
    background-image: -moz-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -webkit-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -ms-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
}


/*logo-wrap*/

.logo {
    height: 27%;
    margin-top: 20%;
}

.logo img {
    height: 100%;
}


/*content*/

.content {
    padding: 0 3rem;
}

.ipt-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 2px 20px 0 rgba(195, 255, 254, .4);
}

.ipt-wrap:last-child {
    margin-bottom: 0;
}

.ipt-wrap .i {
    top: 0;
    bottom: 0;
    margin: auto 10px;
}

.ipt-parent {
    position: relative;
    height: 1.143rem;
    margin: 1.4rem 0;
    padding-left: 40px;
}

.ipt-wrap input {
    width: 100%;
    padding-right: 7.2rem;
    color: #727272;
    background-color: transparent;
}

.ipt-btn {
    font-size: .857rem;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 6rem;
    height: 2.3rem;
    margin: auto;
    color: #fff;
    border-radius: 4px;
    background-color: #93dafd;
}

.login-btn {
    line-height: 1.143rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: transparent;
}

.login-btn-color {
    color: #fff;
    background-image: -moz-linear-gradient( 180deg, rgba(0, 133, 204, .85) 0%, rgba(0, 176, 234, .85) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgba(0, 133, 204, .85) 0%, rgba(0, 176, 234, .85) 100%);
    background-image: -ms-linear-gradient( 180deg, rgba(0, 133, 204, .85) 0%, rgba(0, 176, 234, .85) 100%);
    box-shadow: 0 4px 16px 0 rgba(122, 193, 229, .6);
}

.login-btn-border {
    color: #2396d2;
    border: 1px solid;
}

.login-type {
    position: relative;
    text-align: center;
    opacity: .7;
    color: #2396d2;
}

.login-type::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -.5px;
    content: '';
    background-color: #2396d2;
}

.login-type li {
    font-size: 1rem;
    display: inline-block;
    width: 50%;
}

.pass-login {
    display: none;
}


/*锚点*/

#passLogin:target .code-login {
    display: none;
}

#passLogin:target .pass-login {
    display: block;
}


/*媒体查询*/

@media screen and (max-height: 566px) {
    .logo {
        height: 34%;
    }
    .logo-wrap {
        height: 40%;
    }
    .content {
        height: 60%;
    }
}
