html,
body,
.main-wrap {
    height: 100%;
}

.msg-wrap {
    border-radius: 6px;
    margin: 18% 4rem 0 4rem;
}

.msg-ok {
    width: 5rem;
    height: 5rem;
    background: url(../img/icon/msg_ok.png) no-repeat 50% 50%/contain;
    margin: 3rem auto;
}

.msg-wrap h3 {
    font-size: 1.286rem;
    padding: 2rem 0;
    background-image: -moz-linear-gradient( 180deg, rgb(3, 145, 221) 0%, rgb(1, 183, 243) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(3, 145, 221) 0%, rgb(1, 183, 243) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(3, 145, 221) 0%, rgb(1, 183, 243) 100%);
}


/*footer*/

.btn-def {
    width: 100%;
    padding: .8rem 0;
    margin-bottom: 10px;
}

.btn-def:last-child {
    margin-bottom: 0;
}
