/*居中主体*/

.main-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}


/*icon*/

.i {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../img/icon/i.png) no-repeat;
}

.i + span {
    display: inline-block;
    vertical-align: middle;
}

.i-1-1 {
    background-position: 0 0;
    background-size: 2000%;
}

.i-1-2 {
    background-position: -20px 0;
    background-size: 2000%;
}

.i-1-3 {
    background-position: -40px 0;
    background-size: 2000%;
}

.i-1-4 {
    background-position: -60px -1px;
    background-size: 2000%;
}

.i-1-5 {
    background-position: -80px -1px;
    background-size: 2000%;
}

.i-1-6 {
    background-position: -100px -1px;
    background-size: 2000%;
}

.i-1-7 {
    background-position: -120px -1px;
    background-size: 2000%;
}

.i-1-8 {
    background-position: -140px -1px;
    background-size: 2000%;
}

.i-1-9 {
    background-position: -160px 0;
    background-size: 2000%;
}

.i-1-10 {
    background-position: -180px 0;
    background-size: 2000%;
}

.i-1-11 {
    background-position: -200px 0;
    background-size: 2000%;
}

.i-1-12 {
    background-position: -220px 0;
    background-size: 2000%;
}

.i-1-13 {
    background-position: -240px 0;
    background-size: 2000%;
}

.i-1-14 {
    background-position: -260px 0;
    background-size: 2000%;
}

.i-1-15 {
    background-position: -280px 0;
    background-size: 2000%;
}

.i-1-16 {
    background-position: -300px 0;
    background-size: 2000%;
}

.i-1-17 {
    background-position: -320px 0;
    background-size: 2000%;
}

.i-1-18 {
    background-position: -340px 0;
    background-size: 2000%;
}

.i-1-19 {
    background-position: -360px 0;
    background-size: 2000%;
}

.i-1-20 {
    background-position: -380px 0;
    background-size: 2000%;
}

.i-2-1 {
    background-position: -8px -29px;
    background-size: 1500%;
}

.i-2-2 {
    background-position: -52px -29px;
    background-size: 1500%;
}

.i-2-3 {
    background-position: -97px -29px;
    background-size: 1500%;
}

.i-2-4 {
    background-position: -141px -29px;
    background-size: 1500%;
}

.i-2-5 {
    background-position: -187px -29px;
    background-size: 1500%;
}

.i-2-6 {
    background-position: -232px -29px;
    background-size: 1500%;
}

.i-2-7 {
    background-position: -277px -29px;
    background-size: 1500%;
}

.i-2-8 {
    background-position: -322px -29px;
    background-size: 1500%;
}

.i-2-9 {
    background-position: -367px -29px;
    background-size: 1500%;
}

.i-2-10 {
    background-position: -327px -21px;
    background-size: 1200%;
}

.i-3-1 {
    background-position: 4px -42px;
    background-size: 1500%;
}

.i-3-2 {
    background-position: -19px -60px;
    background-size: 2000%;
}

.i-3-3 {
    background-position: -40px -60px;
    background-size: 2000%;
}

.i-3-4 {
    background-position: -60px -60px;
    background-size: 2000%;
}

.i-3-5 {
    background-position: -80px -60px;
    background-size: 2000%;
}

.i-3-6 {
    background-position: -100px -60px;
    background-size: 2000%;
}

.i-3-7 {
    background-position: -120px -60px;
    background-size: 2000%;
}

.i-3-8 {
    background-position: -140px -60px;
    background-size: 2000%;
}

.i-3-9 {
    background-position: -160px -60px;
    background-size: 2000%;
}

.i-3-10 {
    background-position: -180px -60px;
    background-size: 2000%;
}

.i-3-11 {
    background-position: -200px -60px;
    background-size: 2000%;
}

.i-3-12 {
    background-position: -220px -60px;
    background-size: 2000%;
}

.i-3-13 {
    background-position: -240px -60px;
    background-size: 2000%;
}

.i-3-14 {
    background-position: -260px -60px;
    background-size: 2000%;
}

.i-3-15 {
    background-position: -280px -60px;
    background-size: 2000%;
}

.i-3-16 {
    background-position: -300px -60px;
    background-size: 2000%;
}

.i-3-17 {
    background-position: -320px -60px;
    background-size: 2000%;
}

.i-3-18 {
    background-position: -340px -60px;
    background-size: 2000%;
}

.i-3-19 {
    background-position: -360px -60px;
    background-size: 2000%;
}

.i-3-20 {
    background-position: -380px -60px;
    background-size: 2000%;
}

.i-4-1 {
    background-position: 0 -80px;
    background-size: 2000%;
}

.i-4-2 {
    background-position: -20px -80px;
    background-size: 2000%;
}

.i-4-3 {
    background-position: -40px -80px;
    background-size: 2000%;
}

.i-4-4 {
    background-position: -60px -80px;
    background-size: 2000%;
}

.i-4-5 {
    background-position: -80px -80px;
    background-size: 2000%;
}

.i-4-6 {
    background-position: -100px -80px;
    background-size: 2000%;
}

.i-4-7 {
    background-position: -120px -80px;
    background-size: 2000%;
}

.i-4-8 {
    background-position: -140px -80px;
    background-size: 2000%;
}

.i-4-9 {
    background-position: -160px -80px;
    background-size: 2000%;
}

.i-4-10 {
    background-position: -180px -80px;
    background-size: 2000%;
}

.i-4-11 {
    background-position: -200px -80px;
    background-size: 2000%;
}

.i-4-12 {
    background-position: -220px -80px;
    background-size: 2000%;
}

.i-4-13 {
    background-position: -240px -80px;
    background-size: 2000%;
}

.i-4-14 {
    background-position: -260px -80px;
    background-size: 2000%;
}

.i-4-15 {
    background-position: -280px -80px;
    background-size: 2000%;
}

.i-4-16 {
    background-position: -300px -80px;
    background-size: 2000%;
}

.i-4-17 {
    background-position: -320px -80px;
    background-size: 2000%;
}

.i-4-18 {
    background-position: -340px -80px;
    background-size: 2000%;
}

.i-4-19 {
    background-position: -360px -80px;
    background-size: 2000%;
}

.i-4-20 {
    background-position: -380px -80px;
    background-size: 2000%;
}

.i-5-1 {
    background-position: -2px -92px;
    background-size: 1200%;
}

.i-5-2 {
    background-position: -39px -92px;
    background-size: 1200%;
}

.i-5-3 {
    background-position: -75px -92px;
    background-size: 1200%;
}

.i-5-4 {
    background-position: -110px -92px;
    background-size: 1200%;
}

.i-5-5 {
    background-position: -147px -92px;
    background-size: 1200%;
}

.i-5-6 {
    background-position: -182px -92px;
    background-size: 1200%;
}

.i-5-7 {
    background-position: -219px -93px;
    background-size: 1200%;
}

.i-5-8 {
    background-position: -255px -93px;
    background-size: 1200%;
}

.i-5-9 {
    background-position: -310px -97px;
    background-size: 1280%;
}

.i-6-1 {
    background-position: 0 -140px;
    background-size: 2000%;
}

.i-6-2 {
    background-position: -20px -140px;
    background-size: 2000%;
}

.i-6-3 {
    background-position: -40px -140px;
    background-size: 2000%;
}

.i-6-4 {
    background-position: -60px -140px;
    background-size: 2000%;
}

.i-6-5 {
    background-position: -80px -140px;
    background-size: 2000%;
}

.i-6-6 {
    background-position: -100px -140px;
    background-size: 2000%;
}

.i-6-7 {
    background-position: -120px -140px;
    background-size: 2000%;
}

.i-6-8 {
    background-position: -140px -140px;
    background-size: 2000%;
}

.i-6-9 {
    background-position: -160px -140px;
    background-size: 2000%;
}

.i-6-10 {
    background-position: -180px -140px;
    background-size: 2000%;
}

.i-6-11 {
    background-position: -200px -140px;
    background-size: 2000%;
}

.i-6-12 {
    background-position: -220px -140px;
    background-size: 2000%;
}

.i-6-13 {
    background-position: -240px -140px;
    background-size: 2000%;
}

.i-6-14 {
    background-position: -260px -140px;
    background-size: 2000%;
}

.i-6-15 {
    background-position: -280px -140px;
    background-size: 2000%;
}

.i-6-16 {
    background-position: -300px -140px;
    background-size: 2000%;
}

.i-6-17 {
    background-position: -320px -140px;
    background-size: 2000%;
}

.i-6-18 {
    background-position: -340px -140px;
    background-size: 2000%;
}

.i-6-19 {
    background-position: -360px -140px;
    background-size: 2000%;
}

.i-6-19 {
    background-position: -360px -140px;
    background-size: 2000%;
}

.i-6-19 {
    background-position: -360px -140px;
    background-size: 2000%;
}

.i-6-20 {
    background-position: -380px -140px;
    background-size: 2000%;
}

.i-7-1 {
    background-position: 0 -160px;
    background-size: 2000%;
}

.i-7-2 {
    background-position: -20px -160px;
    background-size: 2000%;
}

.i-7-3 {
    background-position: -40px -160px;
    background-size: 2000%;
}

.i-7-4 {
    background-position: -60px -160px;
    background-size: 2000%;
}

.i-7-5 {
    background-position: -80px -160px;
    background-size: 2000%;
}

.i-7-6 {
    background-position: -100px -160px;
    background-size: 2000%;
}

.i-7-7 {
    background-position: -120px -160px;
    background-size: 2000%;
}

.i-7-8 {
    background-position: -140px -160px;
    background-size: 2000%;
}

.i-7-9 {
    background-position: -160px -160px;
    background-size: 2000%;
}

.i-7-10 {
    background-position: -180px -160px;
    background-size: 2000%;
}

.i-7-11 {
    background-position: -200px -160px;
    background-size: 2000%;
}

.i-7-12 {
    background-position: -220px -160px;
    background-size: 2000%;
}

.i-7-13 {
    background-position: -240px -160px;
    background-size: 2000%;
}

.i-7-14 {
    background-position: -260px -160px;
    background-size: 2000%;
}

.i-7-15 {
    background-position: -280px -160px;
    background-size: 2000%;
}

.i-7-16 {
    background-position: -300px -160px;
    background-size: 2000%;
}

.i-7-17 {
    background-position: -320px -160px;
    background-size: 2000%;
}

.i-7-18 {
    background-position: -340px -160px;
    background-size: 2000%;
}

.i-7-19 {
    background-position: -360px -160px;
    background-size: 2000%;
}

.i-7-20 {
    background-position: -380px -160px;
    background-size: 2000%;
}

.i-8-1 {
    background-position: 0 -180px;
    background-size: 2000%;
}

.i-8-2 {
    background-position: -20px -180px;
    background-size: 2000%;
}

.i-8-3 {
    background-position: -40px -180px;
    background-size: 2000%;
}

.i-8-4 {
    background-position: -60px -180px;
    background-size: 2000%;
}

.i-8-5 {
    background-position: -80px -180px;
    background-size: 2000%;
}

.i-8-6 {
    background-position: -100px -180px;
    background-size: 2000%;
}

.i-8-7 {
    background-position: -120px -180px;
    background-size: 2000%;
}

.i-8-8 {
    background-position: -140px -180px;
    background-size: 2000%;
}

.i-8-9 {
    background-position: -160px -180px;
    background-size: 2000%;
}

.i-8-10 {
    background-position: -180px -180px;
    background-size: 2000%;
}

.i-8-11 {
    background-position: -200px -180px;
    background-size: 2000%;
}


/*按钮*/

.gradient-bg,
.btn-def {
    background-image: -moz-linear-gradient( 180deg, rgb(0, 133, 204) 0%, rgb(0, 176, 234) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(0, 133, 204) 0%, rgb(0, 176, 234) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(0, 133, 204) 0%, rgb(0, 176, 234) 100%);
}

.btn-def {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: transparent;
    box-shadow: 0 -2px 8px 0 rgba(168, 213, 236, .75);
}

.btn-more {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: #b3b3b3;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(227, 227, 227, .75);
}


/*其他*/

.y-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.bg-gray {
    background-color: #f6f6f6;
}

.mask {
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
}


/*公共头部*/

.url-head {
    max-width: 600px;
    padding: 1rem .714rem;
    color: #333;
    box-shadow: 0 2px 8px 0 rgba(192, 192, 192, .75);
}

.url-head a {
    left: .714rem;
    width: 30px;
}

.url-head .i {
    margin: auto 0;
}

.url-head p {
    font-size: 1.143rem;
}


/*展示列表*/

.i-list-wrap {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(233, 233, 233, .75);
}

.i-list {
    position: relative;
    display: block;
}

.l-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 10px;
}

.i-list-con {
    font-size: 0;
    display: block;
    margin-left: 40px;
    padding: 1.2rem 0;
    text-align: right;
    border-bottom: 1px solid #ececec;
}

.i-list-last .i-list-con,
.i-list:last-child .i-list-con {
    border-bottom: none;
}

.i-list-con > span {
    font-size: 1.143rem;
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: middle;
    color: #515151;
}

.list-tag-4 .i-list-con > span {
    width: 40%;
}

.l-con-wrap {
    font-size: 1rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    padding-right: 10px;
    vertical-align: middle;
}

.list-tag-4 .l-con-wrap {
    width: 60%;
}

.l-con-wrap > input {
    width: 100%;
}

.require-tag::after {
    content: '*';
    color: #008cd1;
}


/*无数据提示*/

.no-data {
    font-size: .857rem;
    margin: .714rem 0;
    padding: 2rem 0;
    text-align: center;
    color: #b5b5b5;
    border: 1px dashed;
    border-radius: 6px;
}


/**
 * 页脚，提交按钮
 */

.footer-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateZ(0);
}

.footer-btn .btn-def {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}


/*媒体查询*/

@media screen and (max-height: 666px) {
    html,
    body {
        font-size: 12px;
    }
}
