/*public*/

html,
body {
    overflow: hidden;
    height: 100%;
}

.main-wrap {
    height: 100%;
    overflow-y: hidden;
}


/*body*/

.body-guide {
    background-image: -moz-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -webkit-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
    background-image: -ms-linear-gradient( 58deg, rgb(196, 232, 255) 0%, rgb(254, 249, 230) 79%);
}


/**
 * 注册导航页
 */


/*logo-wrap*/

.logo-wrap,
.reg-nav {
    height: 50%;
}

.logo {
    height: 27%;
    margin-top: 20%;
}

.logo img {
    height: 100%;
}


/*reg-nav*/

.reg-nav a {
    font-size: 16px;
    display: block;
    height: 24%;
    margin: 12% 3rem 0;
    color: #239ad6;
    border: 1px solid;
    border-radius: 6px;
}

.btn-tip {
    font-size: 12px;
    display: block;
    opacity: .7;
}


/**
 * 注册页
 */

.item-wrap {
    height: 100%;
    border-top: 2px solid #239ad6;
    overflow-y: auto;
}

.item-list {
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(233, 233, 233, .7);
}

.item-each > .i {
    top: 0;
    bottom: 0;
    margin: auto 10px;
}

.item-con {
    overflow: hidden;
    margin-left: 40px;
    border-bottom: 1px solid #eee;
}

.item-each:last-child .item-con {
    border-bottom: none;
}

.item-tag {
    font-size: 1.143rem;
    line-height: 1.4rem;
    top: 0;
    bottom: 0;
    width: 5.714rem;
    height: 1.4rem;
    margin: auto;
    color: #515151;
}

.item-ipt-wrap {
    margin: 1.5rem 0 1.5rem 5.714rem;
}

.item-ipt-wrap input {
    line-height: 1.143rem;
    position: relative;
    width: 100%;
    color: #333;
    background-color: transparent;
    padding-right: 10px;
}

.item-ipt-wrap .tel-ipt {
    padding-right: 100px;
}

.pass-ipt-wrap {
    overflow: hidden;
    height: 1.143rem;
    padding-right: 30px;
}

.ipt-btn {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
}

.code-btn {
    font-size: .857rem;
    line-height: 2.3rem;
    width: 6rem;
    height: 2.3rem;
    color: #fff;
    border-radius: 4px;
    background-color: #93dafd;
}


/*reg-tip*/

.reg-tip {
    font-size: .857rem;
    color: #a2a2a2;
}


/*sub-btn*/

.reg-btn {
    padding: .8rem 0;
    width: 100%;
}
