<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>搜索-我的菜</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/base-pub.css" />
    <link rel="stylesheet" href="/dist/css/foodlist.css" />
</head>

<body class="bc-light $!{scrollFixed}">
    #parse('./common/foodlist.html')
    <script src="/dist/js/lib-pub.js"></script>
    <script src="/dist/js/foodlist.js"></script>
</body>

</html>
