@charset 'utf-8';
body {
    margin: 0;
    padding: 0;
}

p,
a {
    font-family: '微软雅黑';
    display: block;
    width: 65%;
    margin: 0 auto;
    padding: 10px;
    letter-spacing: 2px;
    color: #333;
}

.title,
.description {
    text-align: center;
}

.title {
    font-size: 2em;
}

.description {
    font-size: 1em;
}

.menu {
    font-size: 1.4em;
}

.content {
    line-height: 1.5em;
    text-indent: .8em;
    text-indent: 1.8em;
}

.copy {
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
    text-decoration: none;
    color: #369;
}

.copy:hover {
    color: #148;
}
