<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <title>我的菜</title>
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <style>
    h1 {
        color: #666;
        padding-top: 50px;
        text-align: center;
        font-size: 22px;
    }
    </style>
</head>

<body>
    <h1>hangyangws</h1>
</body>

</html>
