<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>酒店预订</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- icon -->
    <link rel="icon" sizes="any" href="/img/favicon.png" />
    <!-- css -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/hoteltype.css" />
</head>

<body id="body">
    <main id="main" class="main">
        #parse("./common/nav.vm")
        <section class="brand">
            <figure data-name="精品民宿">
                <img src="/img/temp_brand/aa.png" />
            </figure>
            <figure class="active" data-name="一般民宿">
                <img src="/img/temp_brand/aa.png" />
            </figure>
            <dl class="brand-tit">
                <dt class="dlb vam">酒店類型</dt>
                <dd class="dlb vam ml15 r4">精品民宿</dd>
            </dl>
        </section>
        <section class="site-time pr">
            <div class="s-t-left h1 r4">
                <dl class="c">
                    <dt>選擇城市</dt>
                    <dd>宁波市</dd>
                    <i></i>
                </dl>
                <dl class="c">
                    <dt>入住時間</dt>
                    <dd>2016年01月01日</dd>
                    <i></i>
                </dl>
                <dl class="c">
                    <dt>離店時間</dt>
                    <dd>2016年02月03日</dd>
                    <i></i>
                </dl>
            </div>
            <div class="s-t-right h1 pa r0 t0">
                <div class="location r4 tac mb10">
                    <i></i>
                    我的位置
                </div>
                <span class="all-time tac r4">共2晚</span>
            </div>
        </section>
        <button class="submit-search w1 r4 fcf mt10" type="button">開始搜索</button>
    </main>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/hotelType.js"></script>
</body>

</html>
