@charset 'utf-8';

/**
 * [made by hangyangws]
 */

body {
    -moz-user-select: none;
}


/**
 * header
 */

.header-fixed .header {
    position: fixed;
    z-index: 4;
    -webkit-transform: translateZ(0);
}

.header {
    min-width: 1000px;
    border-bottom: 1px solid #efefef;
    background-color: rgba(255, 255, 255, .9);
}

.header-wrap {
    width: 95%;
}

.header-list {
    line-height: 60px;
}

.header-list.active,
.header-list:hover,
.header-down:hover .header-list,
.header-dest-con a:hover,
.header-down-con a:hover,
.header-dest:hover .header-list,
.header-btn {
    color: #bdb099;
}

.header-down:hover .i-arrow-b {
    background-position: -36px -36px;
}

.user-head {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


/*目的地*/

.header-dest-down {
    top: 58px;
    left: -20px;
    overflow: hidden;
    height: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.header-dest:hover .header-dest-down {
    height: auto;
    padding: 5px 5px 0;
    -webkit-transform: translateY(-4px) translateZ(0);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px) translateZ(0);
}

.header-dest:hover .header-dest-down,
.header-top-line::before {
    -webkit-transition: transform .4s, opacity .4s;
    -moz-transition: transform .4s, opacity .4s;
    -o-transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s;
}

.h-dest-arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: 0 0 1px #dfdfdf;
}

.h-dest-arrow::before {
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 26px;
    height: 14px;
    content: '';
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background-color: #fff;
}

.header-dest-con {
    line-height: 44px;
    top: -16px;
    width: 300px;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 43px, #efefef 44px);
    background: -o-linear-gradient(top, #fff 43px, #efefef 44px);
    background: -webkit-linear-gradient(top, #fff 43px, #efefef 44px);
    background: -ms-linear-gradient(top, #fff 43px, #efefef 44px);
    background-size: 100% 44px;
    box-shadow: 0 0 3px #dfdfdf;
}

.header-dest-con li {
    width: 80px;
    padding-left: 20px;
}


/**
 * ************************************************************************
 */

.header-down-con {
    top: -800px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .26);
}

.header-down:hover .header-down-con {
    top: 60px;
}

.header-dest {
    width: 43px;
}

.header-btn {
    line-height: 32px;
    border: 1px solid #bdb099;
    background-color: transparent;
}

.header-btn:hover {
    color: #fff;
    background-color: #bdb099;
}

.header-top-line {
    position: relative;
}

.header-top-line::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    content: '';
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    background-color: #bdb099;
}

.header-top-line:hover::before,
.header-top-line.active::before {
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0) translateZ(0);
    opacity: 1;
}


/**
 * footer
 */

.footer {
    min-width: 1000px;
    padding: 30px 0 40px 0;
    background-color: #f6f6f6;
}

.f-weixin-wrap {
    margin-right: 40px;
}

.footer-contact li {
    margin-right: 40px;
    border: 1px solid #bdb099;
}

.footer-contact li:last-child {
    margin-right: 0;
}

.f-weixin-wrap figure {
    z-index: 2;
    top: 54px;
    height: 0;
    -webkit-transition: opacity .6s, top .6s;
    -moz-transition: opacity .6s, top .6s;
    -o-transition: opacity .6s, top .6s;
    transition: opacity .6s, top .6s;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}

.f-weixin-wrap:hover figure {
    top: 44px;
    overflow: visible;
    height: auto;
    opacity: 1;
}

.f-weixin-wrap figure::before {
    position: absolute;
    top: -18px;
    left: 9px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 9px solid transparent;
    border-bottom-color: #fff;
}

.f-us-1 {
    margin-right: 76px;
}

.f-us-2 {
    margin-right: 72px;
}

.f-us-3 {
    margin-right: 40px;
}

.f-us-4 {
    margin-right: 46px;
    cursor: default;
    color: #f6f6f6;
}

.f-us-4 dt {
    color: #f6f6f6 !important;
}

.footer-tel {
    text-align: right !important;
}

.footer-tel dd {
    font-size: 28px;
    color: #444;
}

.footer-us dl {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.footer-us dt {
    font-size: 16px;
    margin-bottom: 16px;
    color: #333;
}

.footer-us dd {
    margin-bottom: 8px;
}

.footer-friends {
    width: 825px;
    border-top: 1px solid #ccc;
}

.f-fri-con {
    width: 736px;
    margin-top: 3px;
    text-align: center;
}

.f-fri-con a {
    /*-webkit-transform: scale(0.86);*/
    /*-o-transform: scale(1);*/
    font-family: arial, '宋体', sans-serif;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    /*margin-right: 5px;*/
    margin-bottom: 14px;
    padding-right: 8px;
    border-right: 1px solid #ccc;
}

.f-fri-con a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/*footer 图标*/

.footer-i {
    width: 40px;
    height: 40px;
    background: url(../images/info/footer.png) no-repeat;
}

.i-weixin {
    background-position: 0 0;
}

.i-weibo {
    background-position: -40px 0;
}

.i-logo {
    top: 2px;
    width: 80px;
    height: 17px;
    background-position: -80px 0;
}


/*侧边功能区*/

.func-none .aside-func,
.func-top-none .func-top,
.func-contact-none #MEIQIA-BTN-HOLDER {
    display: none !important;
}

.func-top-none #MEIQIA-BTN-HOLDER {
    bottom: 12px !important;
}

.aside-func {
    right: 12px;
    bottom: 12px;
    width: 40px;
}

.i-aside {
    width: 40px;
    height: 40px;
    background: url(../images/info/i-aside.png) no-repeat;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26);
}

.i-s-top {
    background-position: 0 -40px;
}

/*美洽重置*/

.BODY-FOR-MEIQIA {
    margin-bottom: 0 !important;
}

#MEIQIA-BTN-HOLDER {
    left: auto !important;
    right: 12px !important;
    width: 40px !important;
    bottom: 64px !important;
}

#MEIQIA-BTN {
    height: 40px !important;
    border: none !important;
    background-color: transparent !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26) !important;
}

#MEIQIA-BTN-LINE {
    display: none !important;
}

#MEIQIA-BTN-TEXT {
    display: none !important;
}

#MEIQIA-BTN-ICON {
    margin: 0 !important;
    width: 40px !important;
    height: 40px !important;
    background: url(../images/info/i-aside.png) no-repeat;
    background-position: 0 0;
}

#pageChat .header {
    background-color: #bdb099 !important;
}


/**
 * others
 */

.h-down2 {
    position: relative;
    top: 2px;
}

.h-top2 {
    position: relative;
    top: -2px;
}

.header-register::before {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 20px;
    margin-right: 16px;
    content: '';
    border-left: 1px solid #bdb099;
}

.i-fcb {
    color: #bbb;
}


/**
 * ************************************************************************
 */


/*注册模块*/

.register-wrap {
    width: 436px;
    height: 464px;
    background-color: #fafafa;
}

.register-con {
    padding: 40px 32px;
}


/*登录模块*/

.login-wrap {
    width: 436px;
    height: 387px;
    background-color: #fafafa;
}

.login-con {
    padding: 40px 32px 48px 32px;
}

.find-pass-con {
    padding: 40px 32px 27px 32px;
}


/*找回密码模块*/

.find-pass-wrap {
    width: 436px;
    height: 390px;
    background-color: #fafafa;
}

.register-wrap,
.login-wrap,
.find-pass-wrap {
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    opacity: 1;
}

.register-wrap.active,
.login-wrap.active,
.find-pass-wrap.active {
    opacity: .2;
}


/**
 * 登录注册共有模块
 */

.reg-log-err {
    color: #ff2c55;
}

.reg-log-submit {
    width: 370px;
    height: 46px;
    border: 1px solid #bdb099;
}

.reg-log-btn:hover {
    color: #bdb099;
    background-color: #fff;
}

.reg-log-err-wrap {
    border: 1px solid #ff2c55 !important;
}

.reg-log-border {
    overflow: hidden;
    border: 1px solid #ccc;
}


/*注册登录 - 标题*/

.reg-log-tit {
    line-height: 62px;
    padding: 0 32px;
}

.reg-log-tit h2 {
    font-size: 20px;
    font-weight: 100;
}

.reg-log-close {
    width: 22px;
    height: 22px;
}

.reg-log-close::before {
    position: absolute;
    top: 1px;
    left: 10px;
    display: inline-block;
    width: 2px;
    height: 20px;
    content: '';
    background-color: #444;
}

.reg-log-close::after {
    position: absolute;
    top: 10px;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 2px;
    content: '';
    background-color: #444;
}

.reg-log-close::before,
.reg-log-close::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*登录注册 - 电话*/

.reg-log-tel {
    height: 48px;
    margin-bottom: 12px;
}

.tel-area {
    line-height: 50px;
    width: 60px;
    height: 48px;
    padding-left: 20px;
    border-right: 1px solid #ccc;
}

.reg-log-tel input {
    width: 160px;
    height: 48px;
}

.tel-err {
    line-height: 50px;
    max-width: 86px;
    height: 48px;
}


/*登录注册 - 验证码*/

.reg-captcha {
    margin-bottom: 12px;
}

.reg-captcha label {
    width: 258px;
}

.reg-captcha input {
    line-height: 48px;
    width: 76px;
}

.reg-captcha span {
    line-height: 48px;
    max-width: 110px;
}

.reg-captcha button {
    line-height: 46px;
    width: 103px;
    margin-top: 1px;
    border: 1px solid #bdb099;
}


/*登录注册 - 密码*/

.reg-log-pass input {
    height: 48px;
}

.reg-log-pass span {
    line-height: 48px;
    max-width: 100px;
}
