@charset 'utf-8';

/*con*/

.sect-con {
    position: relative;
    width: 1000px;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

.sect-con .animate {
    position: absolute;
    bottom: 0;
    opacity: 0;
}


/*direction*/

.direction {
    bottom: 40px;
}

.direction span {
    width: 30px;
    height: 15px;
}

.direction span::before {
    position: absolute;
    top: -11px;
    left: 4px;
    display: block;
    width: 18px;
    height: 18px;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid #fff;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .8), 0 0 2px rgba(0, 0, 0, .6);
}

.direction.up span {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}


/*footer*/

.footer-wrap {
    min-width: 920px;
    min-height: 820px;
    background-color: #f6f6f6;
}


/*footer-up*/

.footer-up h1 {
    font-size: 24px;
    padding-top: 100px;
    color: #333;
}

.footer-up section {
    width: 270px;
    vertical-align: top;
}


/*footer-down*/

.footer {
    padding-top: 50px;
}


/*public*/

.mr50 {
    margin-right: 50px;
}

.mr40 {
    margin-right: 40px;
}

.lh30 {
    line-height: 30px;
}

.t2 {
    top: 2px;
}

.t3 {
    top: 3px;
}

.lh1 {
    line-height: 100%;
}

.bt {
    border-top: 1px solid #ccc;
}

.h50 {
    height: 50%;
}

.f24 {
    font-size: 24px;
}

.sect {
    background-position: center center;
}

.sect_1 {
    background: url('../images/bg/product/pic/pic1.jpg') no-repeat;
    background-size: cover;
}

.sect_2 {
    background: url('../images/bg/product/pic/pic2.jpg') no-repeat;
    background-size: cover;
}

.sect_3 {
    background: url('../images/bg/product/pic/pic3.jpg') no-repeat;
    background-size: cover;
}

.sect_4 {
    background: url('../images/bg/product/pic/pic4.jpg') no-repeat;
    background-size: cover;
}

.i-main {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../images/info/mainIcons.png');
}

.i-photo {
    background-position: 0 0;
}

.i-price {
    background-position: -30px 0;
}

.i-ser {
    background-position: -60px 0;
}

.fadeIn {
    opacity: 1 !important;
}

@media screen and (max-width: 1100px) {
    .sect-con {
        width: 800px;
    }
}

@media screen and (max-width: 900px) {
    .sect-con {
        width: 400px;
    }
}

@media screen and (max-height: 850px) {
    .direction {
        bottom: 20px;
    }
    .footer-up {
        padding-bottom: 0;
    }
    .footer-up h1 {
        margin-bottom: 0;
        padding-top: 72px;
    }
    .footer,
    .footer-friends {
        padding-top: 10px;
    }
    .footer-contact,
    .footer-us,
    .f-fri-con a {
        margin-bottom: 10px;
    }
    .footer-con {
        padding: 20px 0 30px 0;
    }
}

@media screen and (max-height: 700px) {
    .footer-up div {
        margin-top: 8px;
        padding-bottom: 8px;
    }
    .footer-up h4 {
        margin: 4px 0;
    }
    .footer h2 {
        margin-bottom: 10px;
    }
    .direction {
        bottom: 10px;
    }
    .footer-wrap {
        font-size: 13px;
    }
}
