@charset 'utf-8';

/**
 * selection
 */


/*::-moz-selection {
    color: #398;
    background: #fff;
}

::selection {
    color: #bdb099;
    background: #fff;
}*/

.fcm {
    color: #bdb099;
}

.bcm {
    background-color: #bdb099;
}


/**
 * mask
 */

#mask {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    /*chrome 内核 浏览器 position: fixed 防止抖动*/
    -webkit-transform: translateZ(0);
    background-color: rgba(0, 0, 0, .6);
}


/**
 * remaind
 */

.remaind-wrap {
    width: 300px;
    height: 125px;
    text-align: center;
}

#remaindMessage {
    display: block;
    height: 50px;
    padding: 20px 10px;
    background-color: #fff;
}

.remaind-confirm {
    font-size: 16px;
    font-weight: 100;
    line-height: 38px;
    display: block;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #e9e9e9;
}

.remaind-confirm:hover {
    color: #fff;
    background-color: #bdb099;
}


/**
 * 箭头 图标
 */

.i-arrow {
    width: 18px;
    height: 18px;
    background: url(../images/info/arrow.png) no-repeat;
}

.i-arrow-t {
    background-position: 0 -36px;
}

.i-arrow-l {
    background-position: 0 -18px;
}

.i-arrow-r {
    background-position: 0 0;
}

.i-arrow-b {
    background-position: 0 -54px;
}


/**
 * css hart
 */

.css-hart {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #999;
}

.css-hart,
.css-arrow::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.css-hart::before {
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 7px;
    background-color: #999;
}

.css-hart::after {
    position: absolute;
    top: -7px;
    left: 0;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 7px;
    background-color: #999;
}

.css-hart.active,
.css-hart.active::before,
.css-hart.active::after {
    background-color: #f55;
}


/**
 * css arrow
 */

.css-arrow {
    overflow: hidden;
    width: 20px;
    height: 11px;
}

.css-arrow::before {
    position: absolute;
    top: -8px;
    left: 2px;
    width: 12px;
    height: 12px;
    content: '';
    border: 1px solid #999;
}

.css-arrow.active::before {
    top: 5px;
}


/*public*/

.text-hide {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 120%;
}


/*分页*/

.paging {
    line-height: 28px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.paging > div {
    display: inline-block;
}

.paging .current {
    padding: 0 8px;
    cursor: default;
    color: #fff;
    background-color: #bdb099;
}

.paging a,
.paging span {
    display: inline-block;
    margin-left: 10px;
    padding: 0 6px;
    border-radius: 4px;
}

.paging .prev,
.paging .next {
    font-family: 'Songti', '宋体';
}

.pag-ipt {
    line-height: 26px;
    width: 38px;
    padding: 0 5px;
    border: 1px solid #aaa;
}
