@charset 'utf-8';

/**
 * Created by hangyangws(hangyangws@foxmail.com) in 2016-06-17.
 * [reset.css & base.css]
 */

html,
body {
    position: relative;
    width: 100%;
}

p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
div,
pre,
body,
code,
form,
input,
legend,
button,
figure,
fieldset,
textarea,
blockquote {
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
}

img,
abbr,
input,
button,
acronym,
fieldset,
textarea {
    border: none;
}

input {
    text-align: inherit;
}

textarea {
    resize: none;
}

q::before,
q::after {
    content: '';
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
button,
option,
textarea,
optgroup {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
}

body {
    font: 14px 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'STHeiti Light [STXihei]', 'Microsoft Yahei', sans-serif;
    color: #666;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
del,
ins {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

button,
input[type='submit'],
input[type='button'] {
    cursor: pointer;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/**
 * placeholder
 */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}


/**
 * font
 */

.fc3 {
    color: #333;
}

.fc6 {
    color: #666;
}

.fc9 {
    color: #999;
}

.fcf {
    color: #fff;
}

.bct {
    background-color: transparent;
}

.bcf {
    background-color: #fff;
}

.fs0 {
    font-size: 0;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fwb {
    font-weight: 700;
}

.fwl {
    font-weight: 100;
}

.ti2 {
    text-indent: 2em;
}

.lh1 {
    line-height: 1em;
}


/**
 * position
 */

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.bc {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fl {
    display: inline;
    float: left;
}

.fr {
    display: inline;
    float: right;
}

.c {
    zoom: 1;
}

.c::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.vat {
    vertical-align: top;
}

.vam {
    vertical-align: middle;
}

.vab {
    vertical-align: bottom;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
    /*chrome 内核 浏览器 position: fixed 防止抖动*/
    -webkit-transform: translateZ(0);
}

.t0 {
    top: 0;
}

.l0 {
    left: 0;
}

.b0 {
    bottom: 0;
}

.r0 {
    right: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.middle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


/**
 * width height
 */

.w1 {
    width: 100%;
}

.w10 {
    width: 10px;
}

.w20 {
    width: 20px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.h1 {
    height: 100%;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h60 {
    height: 60px;
}

.h70 {
    height: 70px;
}

.h80 {
    height: 80px;
}

.h90 {
    height: 90px;
}

.h100 {
    height: 100px;
}


/**
 * margin padding
 */

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}


/**
 * display
 */

.none,
template {
    display: none;
}

.hidden {
    visibility: hidden;
}

.db {
    display: block;
}

.dlb {
    display: inline-block;
}

.dl {
    display: inline;
}


/**
 * others
 */

.cp {
    cursor: pointer;
}

.cd {
    cursor: default;
}

.zin {
    cursor: zoom-in;
    -webkit-cursor: zoom-in;
}

.zout {
    cursor: zoom-out;
    -webkit-cursor: zoom-out;
}

.ofh {
    overflow: hidden;
}

.bb {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ts4 {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.top-half {
    -webkit-transform: -webkit-translateY(-50%);
    -moz-transform: -moz-translateY(-50%);
    -o-transform: -o-translateY(-50%);
    transform: translateY(-50%);
}

.to {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.r4 {
    border-radius: 4px;
}

.r50 {
    border-radius: 50%;
}

@charset 'utf-8';
html,
body {
    overflow-x: hidden;
    width: 100%;
}


/*public*/

.i-gender::before,
.i-age::before,
.i-location::before,
.i-msg,
.i-msg2,
.i-user,
.i-time,
.i-submit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: '';
    vertical-align: middle;
    background: url(../../img/background/i-icon.png) -54px -56px/1800% no-repeat;
}

.i-age::before {
    background-position: -96px -56px;
}

.i-location::before {
    background-position: -13px -55px;
}

.i-paper {
    background: url(../../img/background/i-icon.png) -26px 4px/660% no-repeat;
}

.i-msg {
    background: url(../../img/background/i-icon.png) -211px -14px/1400% no-repeat;
}

.i-msg2 {
    background: url(../../img/background/i-icon.png) -17px -131px/2400% no-repeat;
}

.i-paper2 {
    background: url(../../img/background/i-icon.png) 6px 4px/660% no-repeat;
}

.i-time {
    background: url(../../img/background/i-icon.png) -152px -156px/2800% no-repeat;
}

.i-user {
    background: url(../../img/background/i-icon.png) -78px -139px/2500% no-repeat;
}

.i-submit {
    margin-right: 0;
    background: url(../../img/background/i-icon.png) -74px -8px/1400% no-repeat;
}

.i-skirt,
.i-clothes,
.i-shoes {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    background: url(../../img/others/skirt.png) 50% 50%/contain no-repeat;
}

.i-clothes {
    background: url(../../img/others/clothes.png) 50% 50%/contain no-repeat;
}

.i-shoes {
    background: url(../../img/others/shoes.png) 50% 50%/contain no-repeat;
}

.half-list {
    display: inline-block;
    width: 50%;
}

.wave {
    bottom: -1px;
    background: url(../../img/background/wave.png) -3px bottom/4% repeat-x;
}

.double-top::before {
    display: block;
    height: 2px;
    content: '';
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.top-radius {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*head list*/

.head-con {
    margin-top: 30px;
    background: url(../../img/background/head.jpg) no-repeat center center/cover;
}

.head-con li {
    position: relative;
    width: 20%;
}

.head-con li::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 100%;
    content: '';
    border-left: 1px dashed #e3e3e3;
}

.head-con li:last-child::before {
    display: none;
}

.head-active {
    background-color: rgba(254, 116, 171, .4);
}

.head-active::after {
    position: absolute;
    bottom: -16px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: '';
    border: 8px solid transparent;
    border-top-color: rgba(254, 116, 171, .4);
}

.head-con img {
    width: 100%;
    height: 100%;
}

.head-con span {
    line-height: 20px;
    display: block;
    padding: 0 6px;
    border-radius: 4px;
    background-color: #fff;
}


/*基本信息*/

.detail-wrap {
    width: 500%;
}

.detail-each {
    display: none;
    width: 20%;
}

.detail-each-active {
    display: inline-block;
}

.detail-head {
    padding-bottom: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(211, 81, 128) 0%, rgb(239, 89, 146) 50%, rgb(254, 115, 153) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(211, 81, 128) 0%, rgb(239, 89, 146) 50%, rgb(254, 115, 153) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(211, 81, 128) 0%, rgb(239, 89, 146) 50%, rgb(254, 115, 153) 100%);
}

.head-big {
    width: 44%;
}

.base-info {
    width: 46%;
}

.base-info ul {
    line-height: 2em;
}

.detail-head h4 {
    font-size: 30px;
    margin: 1em 0 0 28px;
}


/*故事*/

.article {
    position: relative;
    overflow: hidden;
}

.article::before {
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -5%;
    display: block;
    width: 110%;
    height: 110%;
    content: '';
    background: url(../../img/background/line.png) repeat #f8f8f8;
}

.article-border {
    border-bottom: 1px dashed #ccc;
}

.article-tag {
    position: relative;
    display: inline-block;
    min-width: 156px;
    height: 40px;
    margin-top: 30px;
}

.tag-txt {
    font-size: 18px;
    position: relative;
    z-index: 2;
    display: block;
    height: 100%;
    padding-right: 1.2em;
    background-image: -moz-linear-gradient( 0deg, rgb(237, 87, 142) 0%, rgb(244, 96, 155) 50%, rgb(243, 119, 153) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(237, 87, 142) 0%, rgb(244, 96, 155) 50%, rgb(243, 119, 153) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(237, 87, 142) 0%, rgb(244, 96, 155) 50%, rgb(243, 119, 153) 100%);
}

.article-tag::before {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 40px;
    display: block;
    width: 74%;
    height: 80%;
    content: '';
    -webkit-transform: -webkit-rotate(3deg);
    -moz-transform: -moz-rotate(3deg);
    -o-transform: -o-rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background-image: -moz-linear-gradient( 0deg, rgb(237, 87, 142) 0%, transparent 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(237, 87, 142) 0%, transparent 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(237, 87, 142) 0%, transparent 100%);
}

.article-tag i {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 1.2em;
    vertical-align: middle;
    border-right: 1px dashed;
}

.article-need {
    padding: 30px;
    text-align: center;
}

.article-need span {
    display: inline-block;
    padding: 1em 3em;
    background: url(../../img/background/clothes.png) 50% 50%/contain no-repeat;
}

.article-txt {
    line-height: 1.75em;
    position: relative;
    padding: 30px;
    text-align: justify;
}

.article-txt img {
    width: 100%;
    border-radius: 4px;
}

.article-txt p {
    margin-bottom: 1em;
}

.article-txt p:last-child {
    margin-bottom: 0;
}


/*留言板*/

.article-msg {
    word-break: break-all;
    position: relative;
    padding: 30px 20px;
}

.msg-each {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.msg-each:last-child {
    margin-bottom: 0;
}

.msg-header {
    line-height: 30px;
}

.load-more {
    line-height: 16px;
    padding: 0 6px;
    color: #ccc;
    border: 1px solid;
}

.msg-ipt {
    position: relative;
    line-height: 2.4em;
    margin-right: 80px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 4px 0 rgba(201, 201, 201, .7);
}

.msg-ipt i {
    position: absolute;
    left: 8px;
    top: 7px;
}

.msg-ipt input,
.msg-ipt textarea {
    width: 100%;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 10px;
}

.msg-ipt textarea {
    height: 60px;
    line-height: 1.6em;
    padding-top: 8px;
}


.sub-btn {
    height: 33px;
    padding: 0 8px;
    background-image: -moz-linear-gradient( -90deg, rgb(255, 98, 158) 0%, rgb(237, 59, 130) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255, 98, 158) 0%, rgb(237, 59, 130) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255, 98, 158) 0%, rgb(237, 59, 130) 100%);
}
