@charset 'utf-8';
html,
body {
    overflow-x: hidden;
    width: 100%;
}


/*public*/

.i-gender::before,
.i-age::before,
.i-location::before,
.i-msg,
.i-msg2,
.i-user,
.i-time,
.i-submit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: '';
    vertical-align: middle;
    background: url(../../img/background/i-icon.png) -54px -56px/1800% no-repeat;
}

.i-age::before {
    background-position: -96px -56px;
}

.i-location::before {
    background-position: -13px -55px;
}

.i-paper {
    background: url(../../img/background/i-icon.png) -26px 4px/660% no-repeat;
}

.i-msg {
    background: url(../../img/background/i-icon.png) -211px -14px/1400% no-repeat;
}

.i-msg2 {
    background: url(../../img/background/i-icon.png) -17px -131px/2400% no-repeat;
}

.i-paper2 {
    background: url(../../img/background/i-icon.png) 6px 4px/660% no-repeat;
}

.i-time {
    background: url(../../img/background/i-icon.png) -152px -156px/2800% no-repeat;
}

.i-user {
    background: url(../../img/background/i-icon.png) -78px -139px/2500% no-repeat;
}

.i-submit {
    margin-right: 0;
    background: url(../../img/background/i-icon.png) -74px -8px/1400% no-repeat;
}

.half-list {
    display: inline-block;
    width: 50%;
}

.wave {
    bottom: -1px;
    background: url(../../img/background/wave.png) -3px bottom/4% repeat-x;
}

.double-top::before {
    display: block;
    height: 2px;
    content: '';
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.top-radius {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*head list*/

.head-con {
    margin-top: 30px;
    background: url(../../img/background/head.jpg) no-repeat center center/cover;
}

.head-con li {
    position: relative;
    width: 20%;
}

.head-con li::before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 100%;
    content: '';
    border-left: 1px dashed #e3e3e3;
}

.head-con li:last-child::before {
    display: none;
}

.head-active {
    background-color: rgba(61, 189, 227, .46);
}

.head-active::after {
    position: absolute;
    bottom: -16px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    margin-left: -8px;
    content: '';
    border: 8px solid transparent;
    border-top-color: rgba(61, 189, 227, .46);
}

.head-con img {
    width: 100%;
    height: 100%;
}

.head-con span {
    line-height: 20px;
    display: block;
    padding: 0 6px;
    border-radius: 4px;
    background-color: #fff;
}


/*基本信息*/

.detail-wrap {
    width: 500%;
}

.detail-each {
    display: none;
    width: 20%;
}

.detail-each-active {
    display: inline-block;
}

.detail-head {
    padding-bottom: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(60, 179, 190) 0%, rgb(25, 171, 212) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(60, 179, 190) 0%, rgb(25, 171, 212) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(60, 179, 190) 0%, rgb(25, 171, 212) 100%);
}

.head-big {
    width: 44%;
}

.base-info {
    width: 46%;
}

.base-info ul {
    line-height: 2em;
}

.detail-head h4 {
    font-size: 30px;
    margin: 1em 0 0 28px;
}


/*故事*/

.article {
    position: relative;
    overflow: hidden;
}

.article::before {
    position: absolute;
    z-index: -1;
    top: -120%;
    left: -100%;
    display: block;
    width: 400%;
    height: 400%;
    content: '';
    -webkit-transform: -webkit-rotate(-20deg);
    -moz-transform: -moz-rotate(-20deg);
    -o-transform: -o-rotate(-20deg);
    transform: rotate(-20deg);
    background: url(../../img/background/line.png) repeat #f8f8f8;
}

.article-border {
    border-bottom: 1px dashed #ccc;
}

.article-tag {
    position: relative;
    display: inline-block;
    min-width: 156px;
    height: 40px;
    margin-top: 30px;
}

.tag-txt {
    font-size: 18px;
    position: relative;
    z-index: 2;
    display: block;
    height: 100%;
    padding-right: 1.2em;
    background-image: -moz-linear-gradient( 0deg, rgb(92, 189, 220) 0%, rgb(78, 190, 200) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(92, 189, 220) 0%, rgb(78, 190, 200) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(92, 189, 220) 0%, rgb(78, 190, 200) 100%);
}

.article-tag::before {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 40px;
    display: block;
    width: 74%;
    height: 80%;
    content: '';
    -webkit-transform: -webkit-rotate(3deg);
    -moz-transform: -moz-rotate(3deg);
    -o-transform: -o-rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background-image: -moz-linear-gradient( 0deg, #8db8c0 0%, transparent 100%);
    background-image: -webkit-linear-gradient( 0deg, #8db8c0 0%, transparent 100%);
    background-image: -ms-linear-gradient( 0deg, #8db8c0 0%, transparent 100%);
}

.article-tag i {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 1.2em;
    vertical-align: middle;
    border-right: 1px dashed;
}

.article-txt {
    line-height: 1.75em;
    position: relative;
    padding: 30px;
    text-align: justify;
}

.article-txt img {
    width: 100%;
    border-radius: 4px;
}

.article-txt p {
    margin-bottom: 1em;
}

.article-txt p:last-child {
    margin-bottom: 0;
}


/*留言板*/

.article-msg {
    position: relative;
    padding: 30px 20px;
}

.msg-each {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.msg-each:last-child {
    margin-bottom: 0;
}

.msg-header {
    line-height: 30px;
}

.load-more {
    line-height: 16px;
    padding: 0 6px;
    color: #ccc;
    border: 1px solid;
}

.msg-ipt {
    line-height: 2.4em;
    margin-right: 80px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 4px 0 rgba(201, 201, 201, .7);
}

.msg-ipt input {
    background-color: transparent;
}

.sub-btn {
    padding: 0 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(28, 151, 194) 0%, rgb(91, 188, 218) 100%, rgb(28, 151, 194) 100%, rgb(28, 151, 194) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28, 151, 194) 0%, rgb(91, 188, 218) 100%, rgb(28, 151, 194) 100%, rgb(28, 151, 194) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28, 151, 194) 0%, rgb(91, 188, 218) 100%, rgb(28, 151, 194) 100%, rgb(28, 151, 194) 100%);
    box-shadow: 0 3px 10px 0 rgba(184, 184, 184, .75);
}
