body {
    background-color: #f6f6f6;
}

.main-con {
    padding: 1rem;
}


/*基本信息*/

.base-info {
    text-align: center;
}

.info-bg {
    display: block;
    height: 5.6rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.info-head {
    display: block;
    width: 6.6rem;
    height: 6.6rem;
    margin: 0 auto;
    margin-top: -3.5rem;
    padding: .4rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 2px 8px 0 rgba(184, 239, 257, .6);
}

.info-head i {
    display: block;
    height: 100%;
    border-radius: 50%;
    background-color: #f1fcff;
}

.info-name {
    font-size: 1.286rem;
    padding-top: 1.2rem;
    color: #333;
}

.info-area {
    padding: .1rem 0 1.2rem 0;
    color: #848484;
}

.line {
    position: relative;
    display: block;
    border-bottom: .5px dashed #efefef;
}

.line::before,
.line::after {
    position: absolute;
    top: -.7rem;
    left: -.7rem;
    width: 1.4rem;
    height: 1.4rem;
    content: '';
    border-radius: 50%;
    background-color: #f6f6f6;
}

.line::after {
    right: -.7rem;
    left: auto;
}

.base-desc {
    padding: 1.2em 1rem;
    text-align: left;
}

.base-desc dt {
    padding-bottom: .4rem;
}

.base-desc span,
.comment-tit {
    font-size: 1.143rem;
}

.tip-text {
    font-size: 1rem !important;
    color: #ccc;
}

.base-desc dd {
    text-indent: .2rem;
}


/*日历*/

.calendar-bar {
    display: block;
    overflow: hidden;
    padding: 1.2rem 0 .2rem 0;
}

.calendar-bar::before,
.calendar-bar::after {
    display: block;
    float: left;
    width: 1rem;
    height: 1rem;
    margin-left: 5rem;
    content: '';
    border-radius: 50%;
    background-color: #f6f6f6;
    box-shadow: inset 0 0 3px 0 rgba(222, 222, 222, .55);
}

.calendar-bar::after {
    float: right;
    margin-right: 4.8rem;
    margin-left: 0;
}

.calendar-wrap {
    min-height: 18rem;
    padding: 0 .4rem 1rem .4rem;
}


/*评论*/

.comment-tit {
    padding: 1rem 1rem .6rem 1rem;
    border-bottom: .5px solid #efefef;
}

.comment-con {
    padding: 1rem;
}

.comment-item:not(:last-child) {
    margin-bottom: .8rem;
    padding-bottom: .8rem;
    border-bottom: .5px dashed #cecece;
}

.comment-heaader {
    position: relative;
    margin-bottom: 1rem;
}

.comment-head {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #efefef;
}

.comment-name {
    font-size: 1.143rem;
    display: inline-block;
    vertical-align: middle;
}

.comment-start {
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5.5rem;
    height: 1.1rem;
    margin: auto 0;
}

.comment-start-gray,
.comment-start-blue {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #d8d8d8;
}

.comment-start-blue {
    background-color: #53c5fd;
}

.start-1 .comment-start-blue {
    right: 80%;
}

.start-2 .comment-start-blue {
    right: 60%;
}

.start-3 .comment-start-blue {
    right: 40%;
}

.start-4 .comment-start-blue {
    right: 20%;
}

.comment-start img {
    position: relative;
    width: 100%;
    height: 100%;
}

.comment-item > p {
    line-height: 1.4rem;
    padding-bottom: .4rem;
    word-wrap: break-word;
}

.comment-item > footer {
    text-align: right;
    color: #a3a3a3;
}
