html,
body,
.main-wrap,
.card-wrap {
    height: 100%;
}

.card-wrap {
    font-size: 0;
    padding: 2rem 2.8rem;
    text-align: center;
    color: #2ba8f5;
    background-color: #f7fcff;
}

.card-item {
    display: block;
    height: 50%;
}

.card-con {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 6px 14px 0 rgba(215, 228, 236, .42);
}

.card-icon {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.1rem 0;
}

.card-edit {
    background: url(../img/edit.png) no-repeat 50%/contain;
}

.card-book {
    background: url(../img/book.png) no-repeat 50%/contain;
}

.card-href {
    font-size: 1.286rem;
    margin: 0 1rem;
    padding: 1.1rem 0;
    border-top: .5px dashed #ececec;
}
