html,
body,
.main-wrap {
    height: 100%;
}

.main-wrap {
    background-color: #f6f6f6;
}

.perview-wrap {
    height: 100%;
    padding: 1rem;
}

.perview-con {
    overflow-y: auto;
    height: 100%;
}
