html,
body,
.main-wrap {
    height: 100%;
}

.main-wrap {
    background-color: #f6f6f6;
}

.con-empty {
    background-color: transparent;
    box-shadow: none;
}


/**
 * 列表样式
 */

.tag-active {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.list-wrap {
    overflow-y: auto;
    height: 100%;
    padding-top: 4.34rem;
}

.list-con {
    display: none;
    margin: 1rem;
}

.list-con-active {
    display: block;
}

.i-1 {
    background-position: -100px -80px;
}

.i-2 {
    background-position: -180px -80px;
}

.i-3 {
    background-position: -220px -80px;
}

.i-4 {
    background-position: -140px -80px;
}

.con-tip {
    padding: 1rem 0;
    text-align: center;
    color: #008cd1;
    border-bottom: .5px solid #efefef;
}
