html,
body,
.main-wrap,
.type-wrap,
.type-con {
    height: 100%;
}

.main-wrap {
    background-color: #f6f6f6;
}

.type-wrap {
    font-size: 0;
    overflow-x: auto;
}

.type-con {
    width: 85rem;
    padding: 0 .6rem;
}

.type-item {
    position: relative;
    top: 15%;
    display: inline-block;
    width: 20rem;
    height: 70%;
    margin: .6rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(195, 195, 195, .42);
}

.type-img {
    position: relative;
    display: block;
    width: 16rem;
    height: 16rem;
    margin: 2rem auto;
}

.line {
    bottom: -30%;
    left: 50%;
    display: block;
    width: 1px;
    height: 34%;
    margin: 0 auto;
    margin-top: -30%;
    background-color: #c5ebfe;
}

.type-btn {
    font-size: 1.143rem;
    display: block;
    width: 7rem;
    margin: 0 auto;
    padding: .4rem 0;
    color: #1c9ae7;
    border: .5px solid #80c6f2;
    border-radius: 2rem;
    background-color: #fff;
}
