@charset 'utf-8';

/*图片轮播*/

.carousel {
    /*高度由js控制 默认高度*/
    height: 166px;
    background-color: #efefef;
}

.img-wrap {
    width: 9999px;
    -webkit-transition: transform .6s;
    -moz-transition: transform .6s;
    -o-transition: transform .6s;
    transition: transform .6s;
}

.img-dir-wrap {
    line-height: 30px;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .6));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, .6));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, .6));
    background: linear-gradient(transparent, rgba(0, 0, 0, .6));
}

.img-dir {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 8px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
}

.img-dir:first-child {
    margin-left: 0;
}

.img-dir.active {
    background-color: #fff;
}


/*地址 - 电话 - 时间*/

.addr-tel li {
    line-height: 20px;
    position: relative;
    padding: 16px 16px 6px 16px;
}


/*图标*/

.i-addr,
.i-arrow,
.i-tel {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.i-addr {
    background: url(/img/icon/i-addr.png) no-repeat center center;
    background-size: cover;
}

.i-tel {
    background: url(/img/icon/i-tel.png) no-repeat center center;
    background-size: cover;
}

.i-arrow {
    float: right;
    background: url(/img/icon/i-arrow.png) no-repeat center center;
    background-size: cover;
}

.all-time {
    color: #a9976d;
}


/*房间列表*/

.room-list li {
    position: relative;
    height: 44px;
    padding: 10px 6px;
    border-top: 1px solid #e6e0d4;
}

.room-list li:first-child {
    border-top: 1px solid #a9976d;
}

.list-con {
    line-height: 20px;
    margin-right: 74px;
}

.order-btn {
    top: 10px;
    right: 8px;
    width: 64px;
    height: 40px;
    background-color: #a9976d;
}

.order-btn.no-use {
    background-color: #666;
}

.order-btn::before {
    font-size: 16px;
    line-height: 40px;
    display: block;
    width: 100%;
    height: 100%;
    content: '預 訂';
    text-align: center;
    color: #fff;
}

.order-btn.no-use::before {
    content: '已 滿';
}


/*支付*/

.pay-wrap {
    z-index: 100;
    background-color: rgba(0, 0, 0, .2);
}

.pay {
    line-height: 20px;
    position: relative;
    top: 50%;
    overflow-y: auto;
    width: 300px;
    max-width: 80%;
    max-height: 80%;
    padding: 16px 20px;
    -webkit-transition: top .4s;
    -moz-transition: top .4s;
    -o-transition: top .4s;
    transition: top .4s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: 1px;
    background-color: rgba(122, 106, 86, .8);
}

.pay h2 {
    line-height: 16px;
    margin-bottom: 10px;
    border-left: 3px solid #c9bc9c;
}

.pay-list dl {
    position: relative;
    min-height: 20px;
}

.pay-list dt {
    position: absolute;
    top: 0;
    left: 0;
}

.pay-list dd {
    text-align: right;
}

.all-time {
    color: #c9bc9c;
}

.pay-tel {
    margin-top: 6px;
    padding-top: 8px;
    border-top: 1px solid #c9bc9c;
    border-bottom: 1px solid #c9bc9c;
}

.person,
.tel {
    padding: 10px 14px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, .4);
}

.person::-webkit-input-placeholder,
.tel::-webkit-input-placeholder {
    color: #c9bc9c;
}

.tel:-moz-placeholder {
    color: #c9bc9c;
}

.tel::-moz-placeholder {
    color: #c9bc9c;
}

.tel:-ms-input-placeholder {
    color: #c9bc9c;
}

.submit-pay {
    padding: 10px 40px;
    border: 2px solid #c9bc9c;
    background-color: #7a6a56;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #c9bc9c;
}

/*public*/

.line-through {
    text-decoration: line-through;
}